In [1]:
# import dependencies
import pandas as pd

In [2]:
file_path = '../Data/over_df.csv'
over_df = pd.read_csv(file_path)
over_df.head(5)

   game_id player_name team_abrev  kills  deaths  assists    adr   fk   fd
0        0       mazin       MIBR   20.0    15.0     10.0  161.0  3.0  1.0
1        0      artzin       MIBR   18.0    15.0      9.0  139.0  7.0  0.0
2        0     ShahZaM       MIBR   12.0    14.0      9.0  122.0  2.0  1.0
3        0      liazzi       MIBR   13.0    14.0      5.0  126.0  0.0  2.0
4        0       Pa1nt       MIBR   11.0    17.0      6.0   98.0  2.0  4.0

In [3]:
# Group by player_name and aggregate team_abrev
unique_players = over_df.groupby('player_name')['team_abrev'].agg(lambda x: x.unique()[0]).reset_index()

In [4]:
unique_players

   player_name team_abrev
0        Apoth         EG
1        Asuna       100T
2      Boostio       100T
3          C0M        LEV
4    Cryocells       100T
5       Derrek         EG
6        Ethan        NRG
7      FiNESSE        NRG
8       JonahP         G2
9       Khalil        FUR
10       Klaus        KRÜ
11        Less       LOUD
12      Mazino        LEV
13      Melser        KRÜ
14      NaturE         EG
15         OXY         C9
16       Pa1nt       MIBR
17       Palla       MIBR
18        Sacy        SEN
19     ShahZaM       MIBR
20        Shyy        KRÜ
21        TenZ        SEN
22      Victor        NRG
23      Xeppaa         C9
24     Zellsis        SEN
25      artzin       MIBR
26       aspas        LEV
27        bang       100T
28    cauanzin       LOUD
29    crashies        NRG
30        eeiu       100T
31       havoc        FUR
32        heat        KRÜ
33         icy         G2
34     jawgemo         EG
35      johnqt        SEN
36      keznit        KRÜ
37       kiNgg        LEV
38        leaf         G2
39      liazzi       MIBR
40       mazin       MIBR
41       moose         C9
42         mta        KRÜ
43      mwzera        FUR
44         nzr        FUR
45     pANcada       LOUD
46        rich       MIBR
47        runi         C9
48         s0m        NRG
49     saadhak       LOUD
50     supamen         EG
51         tex        LEV
52       trent         G2
53        tuyz       LOUD
54       valyn         G2
55      vanity         C9
56        xand        FUR
57      zekken        SEN

In [5]:
# Save DataFrame to CSV file
unique_players.to_csv('../Data/player_data.csv', index=False)