In [1]:
import pandas as pd

In [2]:
# Load the CSV file into a DataFrame
file_path = '../Data/database.csv'
df = pd.read_csv(file_path)
print(f'{file_path} uploaded')
df.head(5)

../Data/database.csv uploaded

,game_id,player_name,agent,team_abrev,map,kills,deaths,assists,adr,fk,fd,clutches,aces
0,0,mazin,Omen,MIBR,Ascent,20.0,15.0,10.0,161.0,3.0,1.0,1,0
1,0,artzin,Yoru,MIBR,Ascent,18.0,15.0,9.0,139.0,7.0,0.0,0,0
2,0,ShahZaM,Sova,MIBR,Ascent,12.0,14.0,9.0,122.0,2.0,1.0,0,0
3,0,liazzi,Killjoy,MIBR,Ascent,13.0,14.0,5.0,126.0,0.0,2.0,0,0
4,0,Pa1nt,Iso,MIBR,Ascent,11.0,17.0,6.0,98.0,2.0,4.0,0,0

In [3]:
# Convert numeric columns to numeric types if necessary
df['kills'] = pd.to_numeric(df['kills'], errors='coerce')
df['deaths'] = pd.to_numeric(df['deaths'], errors='coerce')
df['assists'] = pd.to_numeric(df['assists'], errors='coerce')
df['adr'] = pd.to_numeric(df['adr'], errors='coerce')
df['fk'] = pd.to_numeric(df['fk'], errors='coerce')
df['fd'] = pd.to_numeric(df['fd'], errors='coerce')
df['clutches'] = pd.to_numeric(df['clutches'], errors='coerce')
df['aces'] = pd.to_numeric(df['aces'], errors='coerce')

# Example of summing each individual stat for each player
player_stats = df.groupby('player_name').agg({
    'kills': 'sum',
    'deaths': 'sum',
    'assists': 'sum',
    'adr': 'mean',
    'fk': 'sum',
    'fd': 'sum',
    'clutches': 'sum',
    'aces': 'sum'
}).reset_index()

In [4]:
# Assuming player_stats is your DataFrame containing summed statistics for each player
# Convert 'name' column to lowercase for case-insensitive sorting
player_stats['name_lower'] = player_stats['player_name'].str.lower()

# Sort the DataFrame alphabetically by 'name_lower' column
player_stats_sorted = player_stats.sort_values(by='name_lower')

# Drop the 'name_lower' column if you don't need it anymore
player_stats_sorted = player_stats_sorted.drop(columns=['name_lower'])

# Print the sorted DataFrame
player_stats_sorted

   player_name  kills  deaths  assists         adr    fk    fd  clutches  aces
0        Apoth  113.0   150.0     58.0  112.100000  16.0  25.0         4     0
25      artzin  140.0   142.0     43.0  136.444444  22.0  19.0         3     0
26       aspas  159.0   102.0     31.0  174.625000  37.0  23.0         1     0
1        Asuna  138.0   140.0     95.0  133.333333  29.0  27.0         3     0
27        bang  134.0   138.0     67.0  125.000000  24.0  29.0         1     0
2      Boostio  137.0   146.0     68.0  138.222222  14.0  15.0         3     0
3          C0M   96.0   100.0     64.0  114.750000  15.0   9.0         3     0
28    cauanzin  194.0   175.0     63.0  149.727273  32.0  24.0         2     0
29    crashies  126.0   137.0     70.0  114.500000   9.0  13.0         4     0
4    Cryocells  149.0   148.0     45.0  127.888889  26.0  22.0         2     1
5       Derrek  149.0   138.0     71.0  131.300000  13.0   7.0         2     0
30        eeiu  162.0   118.0     77.0  155.444444  10.0   3.0         6     0
6        Ethan  164.0   152.0     92.0  137.200000  25.0  13.0         3     0
7      FiNESSE  116.0   163.0     60.0  104.600000  17.0   9.0         3     0
31       havoc  147.0   143.0     39.0  142.444444  22.0  29.0         5     1
32        heat  120.0   127.0     68.0  124.500000  12.0  20.0         3     0
33         icy  117.0   119.0     35.0  127.500000  17.0  26.0         0     0
34     jawgemo  166.0   165.0     60.0  164.100000  42.0  28.0         1     1
35      johnqt   77.0    79.0     28.0  110.833333   8.0   9.0         2     0
8       JonahP  114.0   112.0     74.0  114.125000  18.0  12.0         5     0
36      keznit  152.0   130.0     37.0  168.250000  34.0  23.0         0     0
9       Khalil  172.0   130.0     68.0  149.111111  15.0  13.0         4     0
37       kiNgg  135.0    86.0     68.0  148.625000  15.0  10.0         4     0
10       Klaus   20.0    34.0     11.0   92.500000   4.0   6.0         0     0
38        leaf  130.0   120.0     45.0  153.375000  19.0  19.0         3     0
11        Less  177.0   163.0     46.0  133.090909  22.0  15.0         1     0
39      liazzi  108.0   140.0     48.0  108.666667   7.0  14.0         2     0
40       mazin  102.0   130.0     52.0  107.555556  12.0   9.0         8     0
12      Mazino  137.0   104.0     78.0  151.250000  11.0  15.0         1     0
13      Melser  134.0   119.0     50.0  138.375000  17.0  19.0         5     0
41       moose   90.0   103.0     25.0  103.500000  11.0   9.0         5     0
42         mta   58.0    98.0     45.0   91.333333  11.0   8.0         1     0
43      mwzera  165.0   164.0     52.0  150.888889  39.0  29.0         1     0
14      NaturE  119.0   144.0     79.0  107.700000  13.0  13.0         4     0
44         nzr  141.0   137.0     68.0  139.222222   6.0   9.0         4     0
15         OXY  136.0   132.0     29.0  145.500000  32.0  28.0         1     0
16       Pa1nt   19.0    35.0     12.0  101.500000   4.0   9.0         0     0
17       Palla  101.0   127.0     20.0  136.857143  30.0  30.0         1     0
45     pANcada  161.0   157.0     78.0  123.909091  17.0  19.0         8     0
46        rich   99.0   116.0     27.0  128.857143  13.0  12.0         3     0
47        runi   99.0   110.0     56.0  111.000000   6.0   8.0         2     0
48         s0m  166.0   147.0     97.0  143.700000  20.0  16.0         6     0
49     saadhak  138.0   188.0     89.0  124.818182  28.0  42.0         3     0
18        Sacy   86.0    77.0     48.0  122.500000  10.0  16.0         0     0
19     ShahZaM   23.0    29.0     14.0  124.500000   3.0   4.0         1     0
20        Shyy  121.0   120.0     34.0  128.875000   6.0  14.0         4     0
50     supamen  166.0   148.0     53.0  135.900000  18.0  30.0         6     0
21        TenZ   99.0    81.0     51.0  133.166667  13.0  12.0         1     1
51         tex  122.0   111.0     36.0  130.000000  14.0  17.0         2     0
52       trent  120.0   115.0     56.0  130.500000  12.0  17.0         3     1
53        tuyz  162.0   168.0     60.0  123.000000  17.0  25.0         1     1
54       valyn  117.0   116.0     61.0  129.500000  17.0  12.0         6     0
55      vanity  115.0   122.0     53.0  128.500000  19.0  24.0         2     0
22      Victor  161.0   165.0     37.0  139.900000  43.0  51.0         1     0
56        xand  102.0   152.0     77.0   90.555556  15.0  26.0         2     0
23      Xeppaa   93.0   116.0     62.0  120.000000  10.0  19.0         1     0
57      zekken  127.0    96.0     43.0  194.666667  36.0  21.0         1     0
24     Zellsis   93.0    65.0     58.0  122.000000   3.0   5.0         3     1