In [1]:
# import dependencies
from bs4 import BeautifulSoup
import requests
import re
import timeit
import pandas as pd

# Import The Data

### Links

In [2]:
# Function to read and print links from the file
def read_links(file_path):
    with open(file_path, 'r') as file:
        links = file.readlines()
        links = [link.strip() for link in links]
    return links

file_path = 'perf_list.txt'
# Access the links from the file
perf_list = read_links(file_path)
print(f"Links read from file {file_path}")

file_path = 'over_list.txt'
# Access the links from the file
over_list = read_links(file_path)
print(f"Links read from file {file_path}")

Links read from file perf_list.txt
Links read from file over_list.txt

### Names

In [3]:
# Load the CSV file into a DataFrame
file_path = 'name_map.csv'
names_df = pd.read_csv(file_path)
print(f'{file_path} uploaded')
names_df.head(5)

name_map.csv uploaded

   game_id player_name    agent team_abrev     map
0        0      mazin      Omen       MIBR  Ascent
1        0     artzin      Yoru       MIBR  Ascent
2        0    ShahZaM      Sova       MIBR  Ascent
3        0     liazzi   Killjoy       MIBR  Ascent
4        0      Pa1nt       Iso       MIBR  Ascent

### Overview

In [4]:
file_path = 'over_df.csv'
over_df = pd.read_csv(file_path)
over_df.head(5)

   game_id player_name  kills  deaths  assists    adr   fk   fd
0        0       mazin   20.0    15.0     10.0  161.0  3.0  1.0
1        0      artzin   18.0    15.0      9.0  139.0  7.0  0.0
2        0     ShahZaM   12.0    14.0      9.0  122.0  2.0  1.0
3        0      liazzi   13.0    14.0      5.0  126.0  0.0  2.0
4        0       Pa1nt   11.0    17.0      6.0   98.0  2.0  4.0

### Performance

In [5]:
file_path = 'perf_df.csv'
perf_df = pd.read_csv(file_path)
perf_df.head(5)

   game_id player_name  clutches  aces
0        0     ShahZaM         0     0
1        0      liazzi         0     0
2        0      artzin         0     0
3        0       mazin         1     0
4        0       Pa1nt         0     0

# Merge DFS

### Merge names_df with over_df

In [6]:
# Get the length of comb_perf
len_perf = len(perf_df)

# Select only the rows in df_test that are within the range of length_comb_perf
over_df = over_df.iloc[:len_perf]
# Select only the rows in df_test that are within the range of length_comb_perf
names_df = names_df.iloc[:len_perf]

In [7]:
# Ensure data types match
names_df.loc[:, 'game_id'] = names_df['game_id'].astype(int)
over_df.loc[:, 'game_id'] = over_df['game_id'].astype(int)

# Ensure there are no extra spaces in player_name
names_df.loc[:, 'player_name'] = names_df['player_name'].str.strip()
over_df.loc[:, 'player_name'] = over_df['player_name'].str.strip()

# Perform the merge
names_over_merge = pd.merge(names_df, over_df, on=['game_id', 'player_name'], how='left')

In [8]:
# Perform the merge
combined_all = pd.merge(names_over_merge, perf_df, on=['game_id', 'player_name'], how='left')

In [9]:
# Save DataFrame to CSV file
combined_all.to_csv('database.csv', index=False)