In [1]:
# import dependencies
from bs4 import BeautifulSoup as bs
import requests
import re
import timeit
import pandas as pd

# Find Links

In [2]:
# url to the matches tab
url = 'https://www.vlr.gg/event/matches/2095/champions-tour-2024-americas-stage-2/?series_id=4031'

In [3]:
# scrape all the urls from the matches tab
print('Beginning URL Retrieval')
print('------------------------')

# get the html file using request
html_txt = requests.get(url)
soup = bs(html_txt.text, 'lxml')

try:
    # map to the correct location in the html file
    body = soup.find('body')
    div_container = body.find('div', class_='col-container')
    div_card = div_container.find_all('div', class_='wf-card')
    url_list = []
    perf_list = []
    over_list = []

    for idx, x in enumerate(div_card):
        if idx != 0:
            # create a base_url
            base_link = []
            base_url = f'https://www.vlr.gg'
            for link in div_card[idx].find_all('a'):
                base_link.append(link.get('href'))

            # fill the df with base urls
            for url in base_link:
                url_list.append(f'{base_url}{url}')
                
            # fill the df with the urls + /?game=all&tab=performance 
            # brings you to the performance tab 
            for url in base_link:
                perf_list.append(f'{base_url}{url}{"/?game=all&tab=performance"}')
                
            # fill the df with the urls + /?game=all&tab=overview 
            # brings you to the overview tab
            for url in base_link:
                over_list.append(f'{base_url}{url}{"/?game=all&tab=overview"}')

except AttributeError:
        print('There was a missing URL')

print('------------------------')
print(f'Found {len(url_list)} games!\n')

Beginning URL Retrieval
------------------------
------------------------
Found 25 games!

# Performance

In [4]:
def scrape_data(url_list):
    all_dfs = []  # List to store DataFrames from all URLs
    
    for url in url_list:
        response = requests.get(url)
        if response.status_code == 200:
            soup = bs(response.content, 'html.parser')

            # Initialize a list to store DataFrames
            dfs = []

            # Find all game divs
            game_divs = soup.find_all('div', class_='vm-stats-game')

            for game_div in game_divs:
                # Find the table within each game div
                table = game_div.find('table', class_='wf-table-inset mod-adv-stats')

                if table:
                    # Extract table data into a DataFrame
                    table_data = []
                    rows = table.find_all('tr')
                    for row in rows:
                        row_data = [cell.text.strip() for cell in row.find_all(['td', 'th'])]
                        table_data.append(row_data)

                    # Convert table_data into a DataFrame and append to dfs list
                    df = pd.DataFrame(table_data[1:], columns=table_data[0])  # Assuming first row is header
                    dfs.append(df)

            # Drop the first DataFrame (if available)
            if dfs:
                dfs.pop(0)  # Remove the first DataFrame
                all_dfs.extend(dfs)
            else:
                print('No DataFrames found for URL:', url)

        else:
            print('Failed to retrieve the webpage. Status code:', response.status_code)

    return all_dfs

def process_data_frames(data_frames):
    processed_dfs = {}  # Dictionary to store processed DataFrames

    for i, df in enumerate(data_frames):
        df_copy = df.copy()

        # Rename the columns
        df_copy.columns = ['name', 'blank', '2K', '3K', '4K', '5K', '1v1', '1v2', '1v3', '1v4', '1v5', 'ECON', 'PL', 'DE']

        # Clean the 'name' column
        df_copy['name'] = df_copy['name'].str.strip().str.replace('\t', '').str.replace('\n', '')

        # Clean the team names
        team_names = ['MIBR', 'LEV', 'SEN', 'NRG', 'FUR', '100T', 'LOUD', 'EG', 'G2', 'C9', 'KRÃœ']
        for team in team_names:
            df_copy['name'] = df_copy['name'].str.replace(team, '').str.strip()

        # Drop all unneeded columns
        df_copy = df_copy.drop(columns=['blank', '2K', '3K', '4K', '5K', 'ECON', 'PL', 'DE'])

        # Extract the first character from each cell in 'col1'
        df_copy['1v1'] = df_copy['1v1'].str.extract(r'^(\d+)')
        df_copy['1v2'] = df_copy['1v2'].str.extract(r'^(\d+)')
        df_copy['1v3'] = df_copy['1v3'].str.extract(r'^(\d+)')
        df_copy['1v4'] = df_copy['1v4'].str.extract(r'^(\d+)')
        df_copy['1v5'] = df_copy['1v5'].str.extract(r'^(\d+)')

        df_copy = df_copy.fillna(0)

        # Convert all columns except the first one to integers
        for column in df_copy.columns[1:]:
            df_copy[column] = df_copy[column].astype(int)

        # Calculate the total clutches and create a new column
        df_copy['clutches'] = df_copy[['1v1', '1v2', '1v3', '1v4', '1v5']].sum(axis=1)

        # Drop all unneeded columns
        df_copy = df_copy.drop(columns=['1v1', '1v2', '1v3', '1v4', '1v5'])

        # Store the processed DataFrame with a unique name
        processed_dfs[f'df_{i+1}'] = df_copy
    
    return processed_dfs

In [5]:
# Scrape the perf_list
data_frames = scrape_data(perf_list)
processed_dfs = process_data_frames(data_frames)

No DataFrames found for URL: https://www.vlr.gg/353197/cloud9-vs-kr-esports-champions-tour-2024-americas-stage-2-w4/?game=all&tab=performance
No DataFrames found for URL: https://www.vlr.gg/353198/evil-geniuses-vs-mibr-champions-tour-2024-americas-stage-2-w4/?game=all&tab=performance
No DataFrames found for URL: https://www.vlr.gg/353199/leviat-n-vs-furia-champions-tour-2024-americas-stage-2-w4/?game=all&tab=performance
No DataFrames found for URL: https://www.vlr.gg/353200/loud-vs-100-thieves-champions-tour-2024-americas-stage-2-w4/?game=all&tab=performance
No DataFrames found for URL: https://www.vlr.gg/353201/sentinels-vs-g2-esports-champions-tour-2024-americas-stage-2-w4/?game=all&tab=performance

In [6]:
# check the first df
# Using list conversion and index
entry_key = list(processed_dfs.keys())[0]
df = processed_dfs[entry_key]
df

      name  clutches
0  ShahZaM         0
1   liazzi         0
2   artzin         0
3    mazin         1
4    Pa1nt         0
5      C0M         0
6      tex         1
7   Mazino         0
8    aspas         0
9    kiNgg         0

# Overview

In [7]:
def clean_dataframe(df, team_names):
    if df.empty:
        return None
    
    df_copy = df.copy()

    # Rename the columns
    df_copy.columns = ['name', 'blank', 'rating', 'acs', 'kills', 'deaths', 'assists', 'k/d', 'KAST', 'adr', 'hs', 'fk', 'fd', 'fk/fd']

    # Clean the 'name' column
    df_copy['name'] = df_copy['name'].str.strip().str.replace('\t', '').str.replace('\n', '')
    
    # Clean the team names
    for team in team_names:
        df_copy['name'] = df_copy['name'].str.replace(team, '').str.strip()

    # Drop all unneeded columns
    df_copy = df_copy.drop(columns=['blank', 'rating', 'acs', 'k/d', 'KAST', 'hs', 'fk/fd'])
    
    # Apply a lambda function to extract the first number from each cell
    df_copy['kills'] = df_copy['kills'].apply(lambda x: x.split('\n')[0] if x else None)

    # Use a try-except block to handle potential errors in 'deaths' column processing
    try:
        df_copy['deaths'] = df_copy['deaths'].apply(lambda x: int(re.findall(r'\d+', x)[0]) if x else None)
    except IndexError:
        df_copy['deaths'] = None  # Handle the error by assigning a default value

    df_copy['assists'] = df_copy['assists'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['adr'] = df_copy['adr'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['fk'] = df_copy['fk'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['fd'] = df_copy['fd'].apply(lambda x: x.split('\n')[0] if x else None)

    return df_copy

def scrape_data(url_list):
    all_dfs = {}  # Dictionary to store processed DataFrames for each URL

    team_names = ['MIBR', 'LEV', 'SEN', 'NRG', 'FUR', '100T', 'LOUD', 'EG', 'G2', 'C9', 'KRÃœ']

    for url in url_list:
        response = requests.get(url)
        if response.status_code == 200:
            soup = bs(response.content, 'html.parser')

            # Initialize lists to store DataFrames for each pass
            first_pass_dfs = []
            second_pass_dfs = []

            # Find all game divs
            game_divs = soup.find_all('div', class_='vm-stats-game')

            # First pass: Find initial tables
            for game_div in game_divs:
                table = game_div.find('table', class_='wf-table-inset mod-overview')

                if table:
                    # Extract table data into a DataFrame
                    table_data = []
                    rows = table.find_all('tr')
                    for row in rows:
                        row_data = [cell.text.strip() for cell in row.find_all(['td', 'th'])]
                        table_data.append(row_data)

                    # Convert table_data into a DataFrame and append to first_pass_dfs list
                    df = pd.DataFrame(table_data[1:], columns=table_data[0])  # Assuming first row is header
                    first_pass_dfs.append(df)

            # Second pass: Find the next tables
            for game_div in game_divs:
                table = game_div.find('table', class_='wf-table-inset mod-overview')
                if table:
                    next_table = table.find_next('table', class_='wf-table-inset mod-overview')
                    if next_table:
                        # Extract table data into a DataFrame
                        table_data = []
                        rows = next_table.find_all('tr')
                        for row in rows:
                            row_data = [cell.text.strip() for cell in row.find_all(['td', 'th'])]
                            table_data.append(row_data)

                        # Convert table_data into a DataFrame and append to second_pass_dfs list
                        df = pd.DataFrame(table_data[1:], columns=table_data[0])  # Assuming first row is header
                        second_pass_dfs.append(df)

            # Process and clean DataFrames from both passes
            first_pass_cleaned = [clean_dataframe(df, team_names) for df in first_pass_dfs if not df.empty]
            second_pass_cleaned = [clean_dataframe(df, team_names) for df in second_pass_dfs if not df.empty]

            # Combine corresponding DataFrames from both passes
            combined_dfs = []
            min_length = min(len(first_pass_cleaned), len(second_pass_cleaned))
            for i in range(min_length):
                if first_pass_cleaned[i] is not None and second_pass_cleaned[i] is not None:
                    combined_df = pd.concat([first_pass_cleaned[i], second_pass_cleaned[i]], axis=0)
                    combined_dfs.append(combined_df)
                    combined_df.reset_index(inplace=True, drop=True)

            all_dfs[url] = combined_dfs

        else:
            print('Failed to retrieve the webpage. Status code:', response.status_code)

    return all_dfs

In [8]:
data_frames = scrape_data(over_list)

In [9]:
# remove the second df from each series

# Create a list of new keys
new_keys = [f'Series {i+1}' for i in range(len(data_frames))]

# Create a new dictionary with updated keys
re_dfs = dict(zip(new_keys, data_frames.values()))

In [10]:
re_dfs['Series 2']

[       name kills  deaths assists  adr fk fd
 0    zekken    22      14       7  222  7  4
 1      Sacy    19      10       9  161  0  2
 2   Zellsis    16      10       6  131  1  0
 3      TenZ    13      13      14  127  1  1
 4    johnqt    10      11       5   96  2  2
 5       s0m    14      17       6  142  4  4
 6     Ethan    14      15      10  121  3  0
 7    Victor    11      17       5  116  2  6
 8   FiNESSE     9      16       4   79  1  0
 9  crashies    10      16       4   92  0  2,
        name kills  deaths assists  adr  fk  fd
 0    zekken    46      33      21  213  12   8
 1   Zellsis    37      24      22  135   2   1
 2      TenZ    36      29      24  134   5   3
 3      Sacy    38      26      17  145   3   5
 4    johnqt    25      28       9  102   3   4
 5       s0m    30      35      21  131   4   6
 6     Ethan    32      34      23  118   5   3
 7    Victor    34      41      10  150   9  13
 8  crashies    23      35      14   92   1   3
 9   FiNESSE    21      38       8   90   3   1,
        name kills  deaths assists  adr fk fd
 0      TenZ    23      16      10  140  4  2
 1    zekken    24      19      14  206  5  4
 2   Zellsis    21      14      16  138  1  1
 3      Sacy    19      16       8  132  3  3
 4    johnqt    15      17       4  108  1  2
 5     Ethan    18      19      13  117  2  3
 6       s0m    16      18      15  123  0  2
 7    Victor    23      24       5  177  7  7
 8  crashies    13      19      10   92  1  1
 9   FiNESSE    12      22       4  100  2  1]

In [11]:
# Iterate through the dictionary and remove the second item from each list value
for key in re_dfs:
    if len(re_dfs[key]) > 1:
        del re_dfs[key][1]  # Delete the second item (index 1)

In [12]:
re_dfs['Series 2']

[       name kills  deaths assists  adr fk fd
 0    zekken    22      14       7  222  7  4
 1      Sacy    19      10       9  161  0  2
 2   Zellsis    16      10       6  131  1  0
 3      TenZ    13      13      14  127  1  1
 4    johnqt    10      11       5   96  2  2
 5       s0m    14      17       6  142  4  4
 6     Ethan    14      15      10  121  3  0
 7    Victor    11      17       5  116  2  6
 8   FiNESSE     9      16       4   79  1  0
 9  crashies    10      16       4   92  0  2,
        name kills  deaths assists  adr fk fd
 0      TenZ    23      16      10  140  4  2
 1    zekken    24      19      14  206  5  4
 2   Zellsis    21      14      16  138  1  1
 3      Sacy    19      16       8  132  3  3
 4    johnqt    15      17       4  108  1  2
 5     Ethan    18      19      13  117  2  3
 6       s0m    16      18      15  123  0  2
 7    Victor    23      24       5  177  7  7
 8  crashies    13      19      10   92  1  1
 9   FiNESSE    12      22       4  100  2  1]

# Combining DFS

In [18]:
re_dfs['Series 1']

[      name kills  deaths assists  adr fk fd
 0    mazin    20      15      10  161  3  1
 1   artzin    18      15       9  139  7  0
 2  ShahZaM    12      14       9  122  2  1
 3   liazzi    13      14       5  126  0  2
 4    Pa1nt    11      17       6   98  2  4
 5      tex    20      15       2  179  3  3
 6   Mazino    22      15       9  175  1  3
 7    kiNgg    12      14       8  111  2  3
 8      C0M    10      14       7  106  0  1
 9    aspas    11      16       4  113  2  4,
       name kills  deaths assists  adr fk fd
 0    mazin    15      14       5  150  3  1
 1   artzin    16      15       4  150  0  3
 2  ShahZaM    11      15       5  127  1  3
 3    Pa1nt     8      18       6  105  2  5
 4   liazzi     8      16       1   80  1  1
 5    kiNgg    22      10       8  210  4  0
 6    aspas    21       8       4  179  5  1
 7      C0M    17      13       5  156  2  0
 8   Mazino     9      14      12  124  1  3
 9      tex     9      13       3  104  1  3]

In [33]:
# Initialize an empty list to store all DataFrames
all_dfs = []

# Iterate through each series in re_dfs
for dfs_list in re_dfs.values():
    # Extend all_dfs with the list of DataFrames for the current series
    all_dfs.extend(dfs_list)

In [61]:
all_dfs[1]

      name kills  deaths assists  adr fk fd
0    mazin    15      14       5  150  3  1
1   artzin    16      15       4  150  0  3
2  ShahZaM    11      15       5  127  1  3
3    Pa1nt     8      18       6  105  2  5
4   liazzi     8      16       1   80  1  1
5    kiNgg    22      10       8  210  4  0
6    aspas    21       8       4  179  5  1
7      C0M    17      13       5  156  2  0
8   Mazino     9      14      12  124  1  3
9      tex     9      13       3  104  1  3

In [70]:
# Convert each dictionary entry to a dataframe and store them in a list
proc_dfs = [pd.DataFrame(processed_dfs[key]) for key in processed_dfs]

In [82]:
proc_dfs[1]

      name  clutches
0  ShahZaM         1
1   liazzi         0
2   artzin         0
3    mazin         1
4    Pa1nt         0
5      C0M         1
6      tex         0
7   Mazino         0
8    aspas         1
9    kiNgg         0

In [74]:
# Merge the two DataFrames on 'name'
combined_df = pd.merge(all_dfs[1], proc_dfs[1], on='name')

In [75]:
combined_df

      name kills  deaths assists  adr fk fd  clutches
0    mazin    15      14       5  150  3  1         1
1   artzin    16      15       4  150  0  3         0
2  ShahZaM    11      15       5  127  1  3         1
3    Pa1nt     8      18       6  105  2  5         0
4   liazzi     8      16       1   80  1  1         0
5    kiNgg    22      10       8  210  4  0         0
6    aspas    21       8       4  179  5  1         1
7      C0M    17      13       5  156  2  0         1
8   Mazino     9      14      12  124  1  3         0
9      tex     9      13       3  104  1  3         0

In [83]:
# Example of how to iterate and merge DataFrames from index 0 to 48
combined_dfs = []

for i in range(48):  # assuming you have 49 pairs of DataFrames
    all_df = all_dfs[i]
    proc_df = proc_dfs[i]
    
    # Merge the two DataFrames on 'name'
    combined_df = pd.merge(all_df, proc_df, on='name')
    
    # Append the merged DataFrame to the list
    combined_dfs.append(combined_df)

# combined_dfs now contains all merged DataFrames from index 0 to 48

In [84]:
combined_dfs

[      name kills  deaths assists  adr fk fd  clutches
 0    mazin    20      15      10  161  3  1         1
 1   artzin    18      15       9  139  7  0         0
 2  ShahZaM    12      14       9  122  2  1         0
 3   liazzi    13      14       5  126  0  2         0
 4    Pa1nt    11      17       6   98  2  4         0
 5      tex    20      15       2  179  3  3         1
 6   Mazino    22      15       9  175  1  3         0
 7    kiNgg    12      14       8  111  2  3         0
 8      C0M    10      14       7  106  0  1         0
 9    aspas    11      16       4  113  2  4         0,
       name kills  deaths assists  adr fk fd  clutches
 0    mazin    15      14       5  150  3  1         1
 1   artzin    16      15       4  150  0  3         0
 2  ShahZaM    11      15       5  127  1  3         1
 3    Pa1nt     8      18       6  105  2  5         0
 4   liazzi     8      16       1   80  1  1         0
 5    kiNgg    22      10       8  210  4  0         0
 6    aspas    21       8       4  179  5  1         1
 7      C0M    17      13       5  156  2  0         1
 8   Mazino     9      14      12  124  1  3         0
 9      tex     9      13       3  104  1  3         0,
        name kills  deaths assists  adr fk fd  clutches
 0    zekken    22      14       7  222  7  4         0
 1      Sacy    19      10       9  161  0  2         0
 2   Zellsis    16      10       6  131  1  0         0
 3      TenZ    13      13      14  127  1  1         0
 4    johnqt    10      11       5   96  2  2         0
 5       s0m    14      17       6  142  4  4         1
 6     Ethan    14      15      10  121  3  0         0
 7    Victor    11      17       5  116  2  6         0
 8  crashies    10      16       4   92  0  2         0,
        name kills  deaths assists  adr fk fd  clutches
 0      TenZ    23      16      10  140  4  2         0
 1    zekken    24      19      14  206  5  4         0
 2   Zellsis    21      14      16  138  1  1         2
 3      Sacy    19      16       8  132  3  3         0
 4    johnqt    15      17       4  108  1  2         0
 5     Ethan    18      19      13  117  2  3         0
 6       s0m    16      18      15  123  0  2         2
 7    Victor    23      24       5  177  7  7         0
 8  crashies    13      19      10   92  1  1         1,
         name kills  deaths assists  adr fk fd  clutches
 0     Khalil    22      15       9  150  4  2         1
 1        nzr    23      16       4  163  1  2         1
 2      havoc    21      21       7  170  1  3         0
 3     mwzera    18      22       5  128  5  4         0
 4       xand    16      18      12   98  3  1         0
 5       eeiu    19      18       6  154  0  0         1
 6  Cryocells    23      21       2  137  3  4         0
 7      Asuna    16      20       7  116  1  5         1
 8       bang    17      19       6  133  6  3         0
 9    Boostio    17      22       7  141  2  2         0,
         name kills  deaths assists  adr fk fd  clutches
 0     Khalil    31      17      10  172  1  3         1
 1        nzr    24      19      20  147  1  1         0
 2      havoc    18      19       3  116  1  3         1
 3     mwzera    21      27      12  136  6  6         0
 4       xand    14      22       7  106  1  7         1
 5      Asuna    23      21      17  142  5  2         0
 6    Boostio    21      21       9  148  1  2         1
 7       eeiu    17      19      13  141  2  1         0
 8       bang    20      21      12  109  4  3         0
 9  Cryocells    23      26       8  153  8  2         0,
        name kills  deaths assists  adr fk fd  clutches
 0      Less    20       9       6  170  2  1         1
 1   saadhak    20      15       7  188  3  4         0
 2  cauanzin    17      13       8  146  0  4         0
 3      tuyz    14      12       5  119  0  2         0
 4   pANcada    11      11       9   76  2  2         0
 5   jawgemo    19      18       7  207  8  1         0
 6   supamen    20      16       4  165  1  2         0
 7    NaturE     6      14       7   63  1  1         1
 8    Derrek     7      16       7   65  1  0         0
 9     Apoth     8      18       1   90  2  3         0,
        name kills  deaths assists  adr fk fd  clutches
 0   pANcada    12      13       9  126  1  3         0
 1      Less    14      12       2  137  1  1         0
 2  cauanzin    14      15       8  159  1  1         0
 3   saadhak    11      16       5  135  2  5         0
 4      tuyz     9      15       3  103  2  2         0
 5   jawgemo    22      14       5  206  8  1         0
 6    Derrek    15      10       8  126  1  0         0
 7     Apoth    15      13       4  140  2  1         0
 8    NaturE     9      12      12  101  1  2         0
 9   supamen    10      11      10   82  0  3         3,
        name kills  deaths assists  adr fk fd  clutches
 0      tuyz    22      15       6  172  2  1         0
 1  cauanzin    21      17       7  179  4  2         0
 2      Less    17      15       5  122  1  3         0
 3   saadhak    15      17       6  114  3  4         0
 4   pANcada    12      14       6  114  1  3         0
 5    Derrek    20      15       8  160  1  0         0
 6   jawgemo    17      17       3  129  5  1         0
 7    NaturE    13      16       5  118  4  1         1
 8   supamen    20      21       2  129  2  7         1
 9     Apoth     8      18       7   74  1  2         0,
      name kills  deaths assists  adr fk fd  clutches
 0    leaf    18      16       8  147  2  1         0
 1   valyn    19      17       6  137  2  1         0
 2   trent    16      14       4  119  2  3         0
 3  JonahP    14      17      17  113  3  2         0
 4     icy    16      16       6  104  2  6         0
 5  Xeppaa    14      16      17  131  2  2         0
 6    runi    15      14      13  142  0  0         1
 7     OXY    22      18       2  145  6  3         0
 8   moose    15      16       4  116  2  1         0
 9  vanity    14      19      11  106  3  5         0,
      name kills  deaths assists  adr fk fd  clutches
 0   valyn    15      12       7  146  2  1         0
 1   trent    11      13       5  108  2  2         0
 2    leaf    11      15       3  135  1  3         0
 3  JonahP    10      15       3  106  1  2         0
 4     icy     9      15       6  104  2  2         0
 5    runi    18       8       4  166  2  0         1
 6   moose    13       8       5  156  1  1         1
 7     OXY    14      14       3  142  6  4         0
 8  Xeppaa    15      13       3  156  0  3         0
 9  vanity    10      13       5  109  1  0         0,
      name kills  deaths assists  adr fk fd  clutches
 0    leaf    19      12       8  181  1  3         1
 1   trent    15      11       6  125  2  1         0
 2  JonahP    15      11       4  103  3  1         0
 3     icy    14      13       5  123  1  0         0
 4   valyn    11      14       8  106  6  3         0
 5  vanity    21      16       7  176  3  2         0
 6     OXY    18      16       7  167  3  3         1
 7    runi     9      12       8   83  1  1         0
 8   moose     7      14       1   80  0  2         0
 9  Xeppaa     6      16       5   70  1  5         0,
       name kills  deaths assists  adr fk fd  clutches
 0  supamen    23       8       4  215  2  1         1
 1    Apoth    18       8      12  158  2  4         0
 2  jawgemo    18      10       8  200  2  0         0
 3   Derrek    14      11       7  132  4  1         0
 4   NaturE    10      11       6  116  1  1         0
 5      nzr    16      17       2  186  1  1         0
 6   Khalil    12      17       4  114  1  1         0
 7     xand     7      16       6   87  1  2         1
 8   mwzera     8      17       4   85  3  3         1
 9    havoc     5      16       4   75  1  4         2,
       name kills  deaths assists  adr fk fd  clutches
 0  jawgemo    23      14       5  252  8  3         0
 1   Derrek    15      10      10  185  1  0         0
 2   NaturE    17       8       9  153  1  0         1
 3  supamen    12       7       8  100  1  2         1
 4    Apoth     8      10       5   84  0  1         0
 5    havoc    14      14       1  130  1  4         1
 6      nzr    13      14       5  144  1  0         0
 7   Khalil    10      15       2  125  0  1         0
 8   mwzera     9      16       5  109  4  4         0
 9     xand     3      16       5   44  0  2         0,
       name kills  deaths assists  adr fk fd  clutches
 0   zekken    22      20      12  207  4  3         0
 1  Zellsis    13      11      15   97  0  0         0
 2     TenZ    21      16       6  160  3  5         0
 3   johnqt    15      14       8  133  0  1         1
 4     Sacy    15      17       8  100  3  5         0
 5   Melser    19      15       6  133  3  3         1
 6     heat    19      17       5  148  2  1         1
 7   keznit    19      20       6  169  6  1         0
 8    Klaus    12      18       4   97  2  3         0
 9     Shyy     9      16       2   77  1  2         1,
       name kills  deaths assists  adr fk fd  clutches
 0     TenZ    18      13       4  115  3  1         1
 1   zekken    19      19       4  172  4  5         0
 2     Sacy    15      13       4  146  2  1         0
 3  Zellsis    12      12       7   96  1  1         0
 4   johnqt    11      16       6  111  2  3         0
 5   keznit    20      16       3  162  5  2         0
 6     heat    16      15       8  120  1  3         0
 7   Melser    15      13       7  110  2  1         1
 8     Shyy    14      15       8  115  1  3         0
 9    Klaus     8      16       7   88  2  3         0,
        name kills  deaths assists  adr fk fd  clutches
 0   saadhak    19      11      14  182  2  1         1
 1      tuyz    20      13       5  176  3  3         0
 2      Less    16      11       4  122  3  1         0
 3   pANcada    16      11       5  142  1  1         1
 4  cauanzin    15      12       4  132  3  2         0
 5     mazin    14      14       3  133  0  0         2
 6    liazzi    13      16      11  117  1  2         1
 7      rich    12      20       1  141  3  2         0
 8    artzin     9      16       6  112  1  2         0
 9     Palla    10      20       3   96  3  6         0,
        name kills  deaths assists  adr fk fd  clutches
 0  cauanzin    23      17       8  173  3  2         0
 1      Less    19      17       7  144  2  1         0
 2   pANcada    14      15       7  119  1  1         2
 3      tuyz    11      19       3   85  1  3         0
 4   saadhak     9      22       8   89  5  5         0
 5    artzin    20      15       7  169  3  5         0
 6      rich    22      16       5  164  1  1         0
 7     mazin    13      10       8   96  0  0         1
 8    liazzi    18      14       3  136  0  2         0
 9     Palla    17      21       3  167  8  4         0,
        name kills  deaths assists  adr fk fd  clutches
 0      tuyz    21      10       1  145  1  2         1
 1      Less    21      14       4  172  2  1         0
 2  cauanzin    16      14       9  136  3  3         0
 3   pANcada    10      13       8   93  0  2         0
 4   saadhak    11      20       6  121  4  4         1
 5    liazzi    16      14       8  139  1  0         0
 6    artzin    18      17       3  144  3  3         0
 7     mazin     9      15       7   90  1  1         0
 8     Palla    18      18       3  146  6  4         0
 9      rich    10      15       3   95  1  2         1,
         name kills  deaths assists  adr fk fd  clutches
 0      aspas    23      16       1  160  7  4         0
 1      kiNgg    18      13       7  159  3  2         1
 2        tex    17      15      11  130  1  2         0
 3     Mazino    17      15       9  144  0  0         0
 4        C0M    10      13      16   64  2  2         1
 5    Boostio    20      17       6  164  1  1         1
 6       eeiu    13      13      15  101  0  0         1
 7      Asuna    17      20       7  153  5  3         0
 8  Cryocells    13      19       9  121  1  3         0
 9       bang     9      16       1   68  3  6         1,
         name kills  deaths assists  adr fk fd  clutches
 0      kiNgg    16       8      10  164  1  1         1
 1      aspas    19      10       3  186  6  2         0
 2     Mazino    17       9       9  168  1  0         0
 3        tex    12      11       2  115  1  1         0
 4        C0M     6      10       9   85  3  1         0
 5      Asuna    10      13      10  133  1  1         0
 6       eeiu    13      13       4  134  1  1         0
 7       bang    11      15      10  128  0  3         0
 8    Boostio     7      15       4   92  2  3         0
 9  Cryocells     7      14       2   90  1  4         0,
        name kills  deaths assists  adr fk fd  clutches
 0     Ethan    18      18       4  182  4  2         0
 1       s0m    13      16      10  149  0  2         0
 2  crashies     9      12       6   79  1  1         1
 3    Victor    13      17       6  119  3  4         1
 4      leaf    25       9       6  205  5  1         1
 5     trent    21      14       9  196  1  2         0
 6       icy    14      10       4  142  3  2         0
 7     valyn    12      10       9   96  1  2         1
 8    JonahP     9      14       8   92  1  2         0,
        name kills  deaths assists  adr fk fd  clutches
 0     Ethan    19      14       7  143  3  1         0
 1  crashies    12      11       8  127  0  0         0
 2       s0m    13      16      10  115  3  2         1
 3    Victor    14      15       4  142  1  7         0
 4    JonahP    16      11      13  134  1  1         1
 5     trent    17      16       7  160  4  2         0
 6     valyn    13      13       9  135  1  0         2
 7      leaf    15      14       3  141  3  3         0
 8       icy    15      13       1  126  3  3         0,
       name kills  deaths assists  adr fk fd  clutches
 0   zekken    19      10       3  169  7  1         1
 1  Zellsis    13       7      10  118  0  1         1
 2     TenZ    13       9       8  130  1  1         0
 3   johnqt    15      11       2  128  3  1         0
 4     Sacy     8       9       9   92  1  2         0
 5    moose     8      11       2   77  0  1         1
 6   Xeppaa    10      13       7  117  2  1         0
 7     runi    10      14      10   92  0  1         0
 8      OXY    12      16       2  128  2  6         0
 9   vanity     6      14       4   65  2  3         0,
       name kills  deaths assists  adr fk fd  clutches
 0  Zellsis    18      11       4  152  0  2         0
 1   zekken    21      14       3  192  9  4         0
 2   johnqt    11      10       3   89  0  0         1
 3     Sacy    10      12      10  104  1  3         0
 4     TenZ    11      14       9  127  1  2         0
 5   Xeppaa    17      13       8  147  3  1         0
 6   vanity    15      14       6  141  2  4         0
 7    moose    11      13       3   86  2  2         1
 8     runi    10      15       5  104  1  1         0
 9      OXY     6      16       5   77  2  2         0,
       name kills  deaths assists  adr fk fd  clutches
 0    Apoth    12      14       1  121  2  2         0
 1  jawgemo    10      16       7  114  1  2         1
 2  supamen     9      20       2  104  3  4         0
 3   Derrek     6      14       2   71  0  2         0
 4   NaturE     6      17       0   61  0  2         0
 5    aspas    23       8       2  222  5  1         0
 6   Mazino    21      10       7  196  4  3         0
 7    kiNgg    16       7       8  169  1  0         0
 8      C0M    14       8       4  156  0  1         0
 9      tex     7      10       3   79  2  1         0,
       name kills  deaths assists  adr fk fd  clutches
 0   Derrek    23      16       5  192  1  2         1
 1  supamen    19      19       4  156  4  5         0
 2   NaturE    12      15      13   95  0  0         0
 3  jawgemo    16      19       9  135  1  4         0
 4    Apoth    10      19       9  120  2  4         1
 5    aspas    25      17       5  200  4  2         0
 6   Mazino    20      14      11  134  3  1         1
 7    kiNgg    17      12      13  130  2  1         1
 8      C0M    11      17      10  121  2  2         0
 9      tex    15      20       8  112  4  2         0,
        name kills  deaths assists  adr fk fd  clutches
 0   pANcada    28      13       5  208  2  3         1
 1  cauanzin    20      18       6  155  5  1         1
 2   saadhak    15      16       5  137  3  7         0
 3      tuyz    13      15      11   99  0  1         0
 4      Less    13      17       2  116  1  1         0
 5    mwzera    25      19       7  184  5  2         0
 6    Khalil    18      16       7  141  2  2         1
 7     havoc    15      18       3  134  2  2         0
 8       nzr    12      16       4  105  0  0         2
 9      xand     9      20       9   82  4  5         0,
        name kills  deaths assists  adr fk fd  clutches
 0  cauanzin    24      16       3  160  1  2         1
 1   pANcada    20      17       4  163  4  1         1
 2      Less    18      19       6  175  4  2         0
 3      tuyz    11      17       5  105  1  3         0
 4   saadhak     9      19      12   96  1  4         0
 5     havoc    22      15       5  198  4  4         0
 6       nzr    22      16       8  181  1  0         0
 7    Khalil    12      14       8  100  1  0         1
 8      xand    15      16       7  100  2  4         0
 9    mwzera    17      21       3  137  4  3         0,
        name kills  deaths assists  adr fk fd  clutches
 0   saadhak    12      18       8  152  3  3         1
 1      Less    13      15       3  102  2  2         0
 2      tuyz    18      17       9  137  2  2         0
 3   pANcada    10      16      10   87  0  1         1
 4  cauanzin    10      18       1   95  4  3         0
 5    mwzera    29      12       6  251  4  2         0
 6    Khalil    20      10      12  153  2  3         0
 7     havoc    17      14       6  146  5  2         0
 8       nzr     8      13      15  100  0  3         0
 9      xand    10      14       9   66  0  1         0,
         name kills  deaths assists  adr fk fd  clutches
 0       rich    17      13       2  178  3  0         1
 1      Palla    14      16       1  141  4  3         0
 2      mazin     7      14       6   95  1  3         1
 3     liazzi     6      16       5   70  1  0         0
 4     artzin     5      17       2   69  1  2         0
 5    Boostio    20       9       2  209  2  3         1
 6       eeiu    17       9       3  183  1  0         0
 7      Asuna    12       8       9  124  1  2         0
 8       bang    12      11       2  116  3  1         0
 9  Cryocells    15      12       1  126  1  4         0,
         name kills  deaths assists  adr fk fd  clutches
 0      Palla    15      16       5  155  4  4         0
 1     artzin    12      16       8  111  1  0         1
 2     liazzi    13      16       4  129  3  4         0
 3      mazin     7      14       6   79  0  2         1
 4       rich     7      16       3   65  1  0         0
 5       eeiu    26       5       6  201  2  0         3
 6       bang    15      13      10  154  4  4         0
 7    Boostio    13      12      16  133  1  0         0
 8      Asuna    12      12       6  117  3  4         0
 9  Cryocells    12      13       8  123  0  1         0,
        name kills  deaths assists  adr fk fd  clutches
 0     Ethan    25      16       4  193  6  1         0
 1       s0m    18      17       8  146  2  1         1
 2    Victor    18      16       4  140  3  6         0
 3  crashies    12      14       8  103  0  2         0
 4    Melser    20      17      11  187  2  1         0
 5      Shyy    16      14       9  116  1  2         3
 6      heat    16      17       6  141  3  2         1
 7    keznit    17      17       8  174  3  4         0
 8       mta     8      15       4   67  1  2         1,

In [85]:
# Assuming combined_dfs is a list containing all merged DataFrames from index 0 to 48
# Example of concatenating all DataFrames vertically
combined_all = pd.concat(combined_dfs, ignore_index=True)

In [86]:
combined_all

          name kills  deaths assists  adr fk fd  clutches
0        mazin    20      15      10  161  3  1         1
1       artzin    18      15       9  139  7  0         0
2      ShahZaM    12      14       9  122  2  1         0
3       liazzi    13      14       5  126  0  2         0
4        Pa1nt    11      17       6   98  2  4         0
..         ...   ...     ...     ...  ... .. ..       ...
465  Cryocells    25      13       1  199  7  2         0
466       eeiu    19       9       5  161  2  1         0
467      Asuna    14      13      24  132  2  1         1
468       bang    14      12      12  137  1  1         0
469    Boostio    12      15       6  138  1  2         0

[470 rows x 8 columns]

In [94]:
# Assuming combined_all is your concatenated DataFrame containing all merged DataFrames
# Convert numeric columns to numeric types if necessary
combined_all['kills'] = pd.to_numeric(combined_all['kills'], errors='coerce')
combined_all['deaths'] = pd.to_numeric(combined_all['deaths'], errors='coerce')
combined_all['assists'] = pd.to_numeric(combined_all['assists'], errors='coerce')
combined_all['adr'] = pd.to_numeric(combined_all['adr'], errors='coerce')
combined_all['fk'] = pd.to_numeric(combined_all['fk'], errors='coerce')
combined_all['fd'] = pd.to_numeric(combined_all['fd'], errors='coerce')
combined_all['clutches'] = pd.to_numeric(combined_all['clutches'], errors='coerce')

# Sum each individual stat for each player
player_stats = combined_all.groupby('name').agg({
    'kills': 'sum',
    'deaths': 'sum',
    'assists': 'sum',
    'adr': 'mean',
    'fk': 'sum',
    'fd': 'sum',
    'clutches': 'sum'
}).reset_index()

In [97]:
combined_all

          name  kills  deaths  assists  adr  fk  fd  clutches
0        mazin     20      15       10  161   3   1         1
1       artzin     18      15        9  139   7   0         0
2      ShahZaM     12      14        9  122   2   1         0
3       liazzi     13      14        5  126   0   2         0
4        Pa1nt     11      17        6   98   2   4         0
..         ...    ...     ...      ...  ...  ..  ..       ...
465  Cryocells     25      13        1  199   7   2         0
466       eeiu     19       9        5  161   2   1         0
467      Asuna     14      13       24  132   2   1         1
468       bang     14      12       12  137   1   1         0
469    Boostio     12      15        6  138   1   2         0

[470 rows x 8 columns]

In [98]:
# Assuming combined_all is your DataFrame
# Save to CSV
combined_all.to_csv('database.csv', index=False)

In [95]:
player_stats

         name  kills  deaths  assists         adr  fk  fd  clutches
0       Apoth    113     150       58  112.100000  16  25         4
1       Asuna    138     140       95  133.333333  29  27         3
2     Boostio    137     146       68  138.222222  14  15         3
3         C0M     96     100       64  114.750000  15   9         3
4   Cryocells    149     148       45  127.888889  26  22         2
5      Derrek    149     138       71  131.300000  13   7         2
6       Ethan    164     152       92  137.200000  25  13         3
7      JonahP    114     112       74  114.125000  18  12         5
8      Khalil    172     130       68  149.111111  15  13         4
9       Klaus     20      34       11   92.500000   4   6         0
10       Less    177     163       46  133.090909  22  15         1
11     Mazino    137     104       78  151.250000  11  15         1
12     Melser    134     119       50  138.375000  17  19         5
13     NaturE    119     144       79  107.700000  13  13         4
14        OXY    136     132       29  145.500000  32  28         1
15      Pa1nt     19      35       12  101.500000   4   9         0
16      Palla    101     127       20  136.857143  30  30         1
17       Sacy     86      77       48  122.500000  10  16         0
18    ShahZaM     23      29       14  124.500000   3   4         1
19       Shyy    121     120       34  128.875000   6  14         4
20       TenZ     99      81       51  133.166667  13  12         1
21     Victor    161     165       37  139.900000  43  51         1
22     Xeppaa     93     116       62  120.000000  10  19         1
23    Zellsis     93      65       58  122.000000   3   5         3
24     artzin    140     142       43  136.444444  22  19         3
25      aspas    159     102       31  174.625000  37  23         1
26       bang    134     138       67  125.000000  24  29         1
27   cauanzin    194     175       63  149.727273  32  24         2
28   crashies    126     137       70  114.500000   9  13         4
29       eeiu    162     118       77  155.444444  10   3         6
30      havoc    147     143       39  142.444444  22  29         5
31       heat    120     127       68  124.500000  12  20         3
32        icy    117     119       35  127.500000  17  26         0
33    jawgemo    166     165       60  164.100000  42  28         1
34     johnqt     77      79       28  110.833333   8   9         2
35     keznit    152     130       37  168.250000  34  23         0
36      kiNgg    135      86       68  148.625000  15  10         4
37       leaf    130     120       45  153.375000  19  19         3
38     liazzi    108     140       48  108.666667   7  14         2
39      mazin    102     130       52  107.555556  12   9         8
40      moose     90     103       25  103.500000  11   9         5
41        mta     58      98       45   91.333333  11   8         1
42     mwzera    165     164       52  150.888889  39  29         1
43        nzr    141     137       68  139.222222   6   9         4
44    pANcada    161     157       78  123.909091  17  19         8
45       rich     99     116       27  128.857143  13  12         3
46       runi     99     110       56  111.000000   6   8         2
47        s0m    166     147       97  143.700000  20  16         6
48    saadhak    138     188       89  124.818182  28  42         3
49    supamen    166     148       53  135.900000  18  30         6
50        tex    122     111       36  130.000000  14  17         2
51      trent    120     115       56  130.500000  12  17         3
52       tuyz    162     168       60  123.000000  17  25         1
53      valyn    117     116       61  129.500000  17  12         6
54     vanity    115     122       53  128.500000  19  24         2
55       xand    102     152       77   90.555556  15  26         2
56     zekken    127      96       43  194.666667  36  21         1

In [96]:
# Assuming player_stats is your DataFrame containing summed statistics for each player
# Convert 'name' column to lowercase for case-insensitive sorting
player_stats['name_lower'] = player_stats['name'].str.lower()

# Sort the DataFrame alphabetically by 'name_lower' column
player_stats_sorted = player_stats.sort_values(by='name_lower')

# Drop the 'name_lower' column if you don't need it anymore
player_stats_sorted = player_stats_sorted.drop(columns=['name_lower'])

# Print the sorted DataFrame
player_stats_sorted

         name  kills  deaths  assists         adr  fk  fd  clutches
0       Apoth    113     150       58  112.100000  16  25         4
24     artzin    140     142       43  136.444444  22  19         3
25      aspas    159     102       31  174.625000  37  23         1
1       Asuna    138     140       95  133.333333  29  27         3
26       bang    134     138       67  125.000000  24  29         1
2     Boostio    137     146       68  138.222222  14  15         3
3         C0M     96     100       64  114.750000  15   9         3
27   cauanzin    194     175       63  149.727273  32  24         2
28   crashies    126     137       70  114.500000   9  13         4
4   Cryocells    149     148       45  127.888889  26  22         2
5      Derrek    149     138       71  131.300000  13   7         2
29       eeiu    162     118       77  155.444444  10   3         6
6       Ethan    164     152       92  137.200000  25  13         3
30      havoc    147     143       39  142.444444  22  29         5
31       heat    120     127       68  124.500000  12  20         3
32        icy    117     119       35  127.500000  17  26         0
33    jawgemo    166     165       60  164.100000  42  28         1
34     johnqt     77      79       28  110.833333   8   9         2
7      JonahP    114     112       74  114.125000  18  12         5
35     keznit    152     130       37  168.250000  34  23         0
8      Khalil    172     130       68  149.111111  15  13         4
36      kiNgg    135      86       68  148.625000  15  10         4
9       Klaus     20      34       11   92.500000   4   6         0
37       leaf    130     120       45  153.375000  19  19         3
10       Less    177     163       46  133.090909  22  15         1
38     liazzi    108     140       48  108.666667   7  14         2
39      mazin    102     130       52  107.555556  12   9         8
11     Mazino    137     104       78  151.250000  11  15         1
12     Melser    134     119       50  138.375000  17  19         5
40      moose     90     103       25  103.500000  11   9         5
41        mta     58      98       45   91.333333  11   8         1
42     mwzera    165     164       52  150.888889  39  29         1
13     NaturE    119     144       79  107.700000  13  13         4
43        nzr    141     137       68  139.222222   6   9         4
14        OXY    136     132       29  145.500000  32  28         1
15      Pa1nt     19      35       12  101.500000   4   9         0
16      Palla    101     127       20  136.857143  30  30         1
44    pANcada    161     157       78  123.909091  17  19         8
45       rich     99     116       27  128.857143  13  12         3
46       runi     99     110       56  111.000000   6   8         2
47        s0m    166     147       97  143.700000  20  16         6
48    saadhak    138     188       89  124.818182  28  42         3
17       Sacy     86      77       48  122.500000  10  16         0
18    ShahZaM     23      29       14  124.500000   3   4         1
19       Shyy    121     120       34  128.875000   6  14         4
49    supamen    166     148       53  135.900000  18  30         6
20       TenZ     99      81       51  133.166667  13  12         1
50        tex    122     111       36  130.000000  14  17         2
51      trent    120     115       56  130.500000  12  17         3
52       tuyz    162     168       60  123.000000  17  25         1
53      valyn    117     116       61  129.500000  17  12         6
54     vanity    115     122       53  128.500000  19  24         2
21     Victor    161     165       37  139.900000  43  51         1
55       xand    102     152       77   90.555556  15  26         2
22     Xeppaa     93     116       62  120.000000  10  19         1
56     zekken    127      96       43  194.666667  36  21         1
23    Zellsis     93      65       58  122.000000   3   5         3