In [1]:
# import dependencies
from bs4 import BeautifulSoup as bs
import requests
import re
import timeit
import pandas as pd

# Find Links

In [2]:
# url to the matches tab
url = 'https://www.vlr.gg/event/matches/2095/champions-tour-2024-americas-stage-2/?series_id=4031'

In [3]:
# scrape all the urls from the matches tab
print('Beginning URL Retrieval')
print('------------------------')

# get the html file using request
html_txt = requests.get(url)
soup = bs(html_txt.text, 'lxml')

try:
    # map to the correct location in the html file
    body = soup.find('body')
    div_container = body.find('div', class_='col-container')
    div_card = div_container.find_all('div', class_='wf-card')
    url_list = []
    perf_list = []
    over_list = []

    for idx, x in enumerate(div_card):
        if idx != 0:
            # create a base_url
            base_link = []
            base_url = f'https://www.vlr.gg'
            for link in div_card[idx].find_all('a'):
                base_link.append(link.get('href'))

            # fill the df with base urls
            for url in base_link:
                url_list.append(f'{base_url}{url}')
                
            # fill the df with the urls + /?game=all&tab=performance 
            # brings you to the performance tab 
            for url in base_link:
                perf_list.append(f'{base_url}{url}{"/?game=all&tab=performance"}')
                
            # fill the df with the urls + /?game=all&tab=overview 
            # brings you to the overview tab
            for url in base_link:
                over_list.append(f'{base_url}{url}{"/?game=all&tab=overview"}')

except AttributeError:
        print('There was a missing URL')

print('------------------------')
print(f'Found {len(url_list)} games!\n')

Beginning URL Retrieval
------------------------
------------------------
Found 25 games!

# Performance

In [4]:
def clean_dataframe(df, team_names):
    if df.empty:
        return None
    
    df_copy = df.copy()

    # Rename the columns
    df_copy.columns = ['name', 'blank', '2K', '3K', '4K', '5K', '1v1', '1v2', '1v3', '1v4', '1v5', 'ECON', 'PL', 'DE']
        
    # Clean the 'name' column
    df_copy['name'] = df_copy['name'].str.strip().str.replace('\t', '').str.replace('\n', '')
    
#     # Clean the team names
#     for team in team_names:
#         df_copy['name'] = df_copy['name'].str.replace(team, '').str.strip()

    # Drop all unneeded columns
    df_copy = df_copy.drop(columns=['blank', '2K', '3K', '4K', '5K', 'ECON', 'PL', 'DE'])
    
    # Apply a lambda function to extract the first number from each cell
    df_copy['1v1'] = df_copy['1v1'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['1v2'] = df_copy['1v2'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['1v3'] = df_copy['1v3'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['1v4'] = df_copy['1v4'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['1v5'] = df_copy['1v5'].apply(lambda x: x.split('\n')[0] if x else None)
    
    df_copy = df_copy.fillna(0)
    
     # Convert all columns except the first one to integers
    for column in df_copy.columns[1:]:
        df_copy[column] = df_copy[column].astype(int)

    # Calculate the total clutches and create a new column
    df_copy['clutches'] = df_copy[['1v1', '1v2', '1v3', '1v4', '1v5']].sum(axis=1)

    # Drop all unneeded columns
    df_copy = df_copy.drop(columns=['1v1', '1v2', '1v3', '1v4', '1v5'])

    return df_copy

def scrape_data(url_list):
    all_dfs = {}  # Dictionary to store processed DataFrames for each URL

    team_names = ['MIBR', 'LEV', 'SEN', 'NRG', 'FUR', '100T', 'LOUD', 'EG', 'G2', 'C9', 'KRÜ']

    for url in url_list:
        response = requests.get(url)
        if response.status_code == 200:
            soup = bs(response.content, 'html.parser')

            # Initialize lists to store DataFrames for each pass
            first_pass_dfs = []

            # Find all game divs
            game_divs = soup.find_all('div', class_='vm-stats-game')

            # First pass: Find initial tables
            for game_div in game_divs:
                table = game_div.find('table', class_='wf-table-inset mod-adv-stats')

                if table:
                    # Extract table data into a DataFrame
                    table_data = []
                    rows = table.find_all('tr')
                    for row in rows:
                        row_data = [cell.text.strip() for cell in row.find_all(['td', 'th'])]
                        table_data.append(row_data)

                    # Convert table_data into a DataFrame and append to first_pass_dfs list
                    df = pd.DataFrame(table_data[1:], columns=table_data[0])  # Assuming first row is header
                    first_pass_dfs.append(df)

            # Process and clean DataFrames from both passes
            first_pass_cleaned = [clean_dataframe(df, team_names) for df in first_pass_dfs if not df.empty]

            # Combine corresponding DataFrames from both passes
            combined_dfs = []
            min_length = min(len(first_pass_cleaned), len(first_pass_cleaned))
            for i in range(min_length):
                if first_pass_cleaned[i] is not None:
                    combined_df = pd.concat([first_pass_cleaned[i]], axis=0)
                    combined_dfs.append(combined_df)
                    combined_df.reset_index(inplace=True, drop=True)

            all_dfs[url] = combined_dfs

        else:
            print('Failed to retrieve the webpage. Status code:', response.status_code)

    return all_dfs

In [5]:
# Scrape the perf_list
perf_data = scrape_data(perf_list)

In [6]:
# remove the second df from each series

# Create a list of new keys
new_keys = [f'Series {i+1}' for i in range(len(perf_data))]

# Create a new dictionary with updated keys
perf_data = dict(zip(new_keys, perf_data.values()))

In [7]:
# check the first df
# Using list conversion and index
entry_key = list(perf_data.keys())[0]
df = perf_data[entry_key]
df

[          name  clutches
 0  ShahZaMMIBR         1
 1   liazziMIBR         0
 2   artzinMIBR         0
 3    mazinMIBR         2
 4    Pa1ntMIBR         0
 5       C0MLEV         1
 6       texLEV         1
 7    MazinoLEV         0
 8     aspasLEV         1
 9     kiNggLEV         0,
           name  clutches
 0  ShahZaMMIBR         0
 1   liazziMIBR         0
 2   artzinMIBR         0
 3    mazinMIBR         1
 4    Pa1ntMIBR         0
 5       C0MLEV         0
 6       texLEV         1
 7    MazinoLEV         0
 8     aspasLEV         0
 9     kiNggLEV         0,
           name  clutches
 0  ShahZaMMIBR         1
 1   liazziMIBR         0
 2   artzinMIBR         0
 3    mazinMIBR         1
 4    Pa1ntMIBR         0
 5       C0MLEV         1
 6       texLEV         0
 7    MazinoLEV         0
 8     aspasLEV         1
 9     kiNggLEV         0]

In [8]:
# Iterate through the dictionary and remove the first item from each list value
for key in perf_data:
    if len(perf_data[key]) > 1:
        del perf_data[key][0]  # Delete the second item (index 1)

In [9]:
# check the first df
# Using list conversion and index
entry_key = list(perf_data.keys())[0]
df = perf_data[entry_key]
df

[          name  clutches
 0  ShahZaMMIBR         0
 1   liazziMIBR         0
 2   artzinMIBR         0
 3    mazinMIBR         1
 4    Pa1ntMIBR         0
 5       C0MLEV         0
 6       texLEV         1
 7    MazinoLEV         0
 8     aspasLEV         0
 9     kiNggLEV         0,
           name  clutches
 0  ShahZaMMIBR         1
 1   liazziMIBR         0
 2   artzinMIBR         0
 3    mazinMIBR         1
 4    Pa1ntMIBR         0
 5       C0MLEV         1
 6       texLEV         0
 7    MazinoLEV         0
 8     aspasLEV         1
 9     kiNggLEV         0]

In [10]:
perf_data

{'Series 1': [          name  clutches
  0  ShahZaMMIBR         0
  1   liazziMIBR         0
  2   artzinMIBR         0
  3    mazinMIBR         1
  4    Pa1ntMIBR         0
  5       C0MLEV         0
  6       texLEV         1
  7    MazinoLEV         0
  8     aspasLEV         0
  9     kiNggLEV         0,
            name  clutches
  0  ShahZaMMIBR         1
  1   liazziMIBR         0
  2   artzinMIBR         0
  3    mazinMIBR         1
  4    Pa1ntMIBR         0
  5       C0MLEV         1
  6       texLEV         0
  7    MazinoLEV         0
  8     aspasLEV         1
  9     kiNggLEV         0],
 'Series 2': [          name  clutches
  0      TenZSEN         0
  1      SacySEN         0
  2   ZellsisSEN         0
  3    johnqtSEN         0
  4    zekkenSEN         0
  5  crashiesNRG         0
  6    VictorNRG         0
  7   FiNESSENRG         0
  8       s0mNRG         1
  9     EthanNRG         0,
            name  clutches
  0      TenZSEN         0
  1      SacySEN         0
  2   ZellsisSEN         2
  3    johnqtSEN         0
  4    zekkenSEN         0
  5  crashiesNRG         1
  6    VictorNRG         0
  7   FiNESSENRG         1
  8       s0mNRG         2
  9     EthanNRG         0],
 'Series 3': [            name  clutches
  0        xandFUR         0
  1         nzrFUR         1
  2      mwzeraFUR         0
  3      KhalilFUR         1
  4       havocFUR         0
  5      Asuna100T         1
  6    Boostio100T         0
  7       eeiu100T         1
  8       bang100T         0
  9  Cryocells100T         0,
              name  clutches
  0        xandFUR         1
  1         nzrFUR         0
  2      mwzeraFUR         0
  3      KhalilFUR         1
  4       havocFUR         1
  5      Asuna100T         0
  6    Boostio100T         1
  7       eeiu100T         0
  8       bang100T         0
  9  Cryocells100T         0],
 'Series 4': [           name  clutches
  0   pANcadaLOUD         0
  1   saadhakLOUD         0
  2      tuyzLOUD         0
  3  cauanzinLOUD         0
  4      LessLOUD         1
  5     supamenEG         0
  6      DerrekEG         0
  7     jawgemoEG         0
  8      NaturEEG         1
  9       ApothEG         0,
             name  clutches
  0   pANcadaLOUD         0
  1   saadhakLOUD         0
  2      tuyzLOUD         0
  3  cauanzinLOUD         0
  4      LessLOUD         0
  5     supamenEG         3
  6      DerrekEG         0
  7     jawgemoEG         0
  8      NaturEEG         0
  9       ApothEG         0,
             name  clutches
  0   pANcadaLOUD         0
  1   saadhakLOUD         0
  2      tuyzLOUD         0
  3  cauanzinLOUD         0
  4      LessLOUD         0
  5     supamenEG         1
  6      DerrekEG         0
  7     jawgemoEG         0
  8      NaturEEG         1
  9       ApothEG         0],
 'Series 5': [       name  clutches
  0   valynG2         0
  1  JonahPG2         0
  2    leafG2         0
  3     icyG2         0
  4   trentG2         0
  5   mooseC9         0
  6  vanityC9         0
  7  XeppaaC9         0
  8    runiC9         1
  9     OXYC9         0,
         name  clutches
  0   valynG2         0
  1  JonahPG2         0
  2    leafG2         0
  3     icyG2         0
  4   trentG2         0
  5   mooseC9         1
  6  vanityC9         0
  7  XeppaaC9         0
  8    runiC9         1
  9     OXYC9         0,
         name  clutches
  0   valynG2         0
  1  JonahPG2         0
  2    leafG2         1
  3     icyG2         0
  4   trentG2         0
  5   mooseC9         0
  6  vanityC9         0
  7  XeppaaC9         0
  8    runiC9         0
  9     OXYC9         1],
 'Series 6': [        name  clutches
  0  supamenEG         1
  1   DerrekEG         0
  2  jawgemoEG         0
  3   NaturEEG         0
  4    ApothEG         0
  5    xandFUR         1
  6     nzrFUR         0
  7  mwzeraFUR         1
  8  KhalilFUR         0
  9   havocFUR         2,
          name  clutches
  0  supamenEG         1
  1   DerrekEG         0
  2  jawgemoEG         0
  3   NaturEEG         1
  4    ApothEG         0
  5    xandFUR         0
  6     nzrFUR         0
  7  mwzeraFUR         0
  8  KhalilFUR         0
  9   havocFUR         1],
 'Series 7': [         name  clutches
  0     TenZSEN         0
  1     SacySEN         0
  2  ZellsisSEN         0
  3   johnqtSEN         1
  4   zekkenSEN         0
  5   MelserKRÜ         1
  6   keznitKRÜ         0
  7    KlausKRÜ         0
  8     heatKRÜ         1
  9     ShyyKRÜ         1,
           name  clutches
  0     TenZSEN         1
  1     SacySEN         0
  2  ZellsisSEN         0
  3   johnqtSEN         0
  4   zekkenSEN         0
  5   MelserKRÜ         1
  6   keznitKRÜ         0
  7    KlausKRÜ         0
  8     heatKRÜ         0
  9     ShyyKRÜ         0],
 'Series 8': [           name  clutches
  0   pANcadaLOUD         1
  1   saadhakLOUD         1
  2      tuyzLOUD         0
  3  cauanzinLOUD         0
  4      LessLOUD         0
  5    liazziMIBR         1
  6    artzinMIBR         0
  7     mazinMIBR         2
  8      richMIBR         0
  9     PallaMIBR         0,
             name  clutches
  0   pANcadaLOUD         2
  1   saadhakLOUD         0
  2      tuyzLOUD         0
  3  cauanzinLOUD         0
  4      LessLOUD         0
  5    liazziMIBR         0
  6    artzinMIBR         0
  7     mazinMIBR         1
  8      richMIBR         0
  9     PallaMIBR         0,
             name  clutches
  0   pANcadaLOUD         0
  1   saadhakLOUD         1
  2      tuyzLOUD         1
  3  cauanzinLOUD         0
  4      LessLOUD         0
  5    liazziMIBR         0
  6    artzinMIBR         0
  7     mazinMIBR         0
  8      richMIBR         1
  9     PallaMIBR         0],
 'Series 9': [            name  clutches
  0         C0MLEV         1
  1         texLEV         0
  2      MazinoLEV         0
  3       aspasLEV         0
  4       kiNggLEV         1
  5      Asuna100T         0
  6    Boostio100T         1
  7       eeiu100T         1
  8       bang100T         1
  9  Cryocells100T         0,
              name  clutches
  0         C0MLEV         0
  1         texLEV         0
  2      MazinoLEV         0
  3       aspasLEV         0
  4       kiNggLEV         1
  5      Asuna100T         0
  6    Boostio100T         0
  7       eeiu100T         0
  8       bang100T         0
  9  Cryocells100T         0],
 'Series 10': [          name  clutches
  0  crashiesNRG         1
  1    VictorNRG         1
  2   FiNESSENRG         0
  3       s0mNRG         0
  4     EthanNRG         0
  5      valynG2         1
  6     JonahPG2         0
  7       leafG2         1
  8        icyG2         0
  9      trentG2         0,
            name  clutches
  0  crashiesNRG         0
  1    VictorNRG         0
  2   FiNESSENRG         0
  3       s0mNRG         1
  4     EthanNRG         0
  5      valynG2         2
  6     JonahPG2         1
  7       leafG2         0
  8        icyG2         0
  9      trentG2         0],
 'Series 11': [         name  clutches
  0     TenZSEN         0
  1     SacySEN         0
  2  ZellsisSEN         1
  3   johnqtSEN         0
  4   zekkenSEN         1
  5     mooseC9         1
  6    vanityC9         0
  7    XeppaaC9         0
  8      runiC9         0
  9       OXYC9         0,
           name  clutches
  0     TenZSEN         0
  1     SacySEN         0
  2  ZellsisSEN         0
  3   johnqtSEN         1
  4   zekkenSEN         0
  5     mooseC9         1
  6    vanityC9         0
  7    XeppaaC9         0
  8      runiC9         0
  9       OXYC9         0],
 'Series 12': [        name  clutches
  0  supamenEG         0
  1   DerrekEG         0
  2  jawgemoEG         1
  3   NaturEEG         0
  4    ApothEG         0
  5     C0MLEV         0
  6     texLEV         0
  7  MazinoLEV         0
  8   aspasLEV         0
  9   kiNggLEV         0,
          name  clutches
  0  supamenEG         0
  1   DerrekEG         1
  2  jawgemoEG         0
  3   NaturEEG         0
  4    ApothEG         1
  5     C0MLEV         0
  6     texLEV         0
  7  MazinoLEV         1
  8   aspasLEV         0
  9   kiNggLEV         1],
 'Series 13': [           name  clutches
  0   pANcadaLOUD         1
  1   saadhakLOUD         0
  2      tuyzLOUD         0
  3  cauanzinLOUD         1
  4      LessLOUD         0
  5       xandFUR         0
  6        nzrFUR         2
  7     mwzeraFUR         0
  8     KhalilFUR         1
  9      havocFUR         0,
             name  clutches
  0   pANcadaLOUD         1
  1   saadhakLOUD         0
  2      tuyzLOUD         0
  3  cauanzinLOUD         1
  4      LessLOUD         0
  5       xandFUR         0
  6        nzrFUR         0
  7     mwzeraFUR         0
  8     KhalilFUR         1
  9      havocFUR         0,
             name  clutches
  0   pANcadaLOUD         1
  1   saadhakLOUD         1
  2      tuyzLOUD         0
  3  cauanzinLOUD         0
  4      LessLOUD         0
  5       xandFUR         0
  6        nzrFUR         0
  7     mwzeraFUR         0
  8     KhalilFUR         0
  9      havocFUR         0],
 'Series 14': [            name  clutches
  0     liazziMIBR         0
  1     artzinMIBR         0
  2      mazinMIBR         1
  3       richMIBR         1
  4      PallaMIBR         0
  5      Asuna100T         0
  6    Boostio100T         1
  7       eeiu100T         0
  8       bang100T         0
  9  Cryocells100T         0,
              name  clutches
  0     liazziMIBR         0
  1     artzinMIBR         1
  2      mazinMIBR         1
  3       richMIBR         0
  4      PallaMIBR         0
  5      Asuna100T         0
  6    Boostio100T         0
  7       eeiu100T         3
  8       bang100T         0
  9  Cryocells100T         0],
 'Series 15': [          name  clutches
  0  crashiesNRG         0
  1    VictorNRG         0
  2   FiNESSENRG         0
  3       s0mNRG         1
  4     EthanNRG         0
  5    MelserKRÜ         0
  6    keznitKRÜ         0
  7      heatKRÜ         1
  8      ShyyKRÜ         3
  9       mtaKRÜ         1,
            name  clutches
  0  crashiesNRG         1
  1    VictorNRG         0
  2   FiNESSENRG         0
  3       s0mNRG         0
  4     EthanNRG         0
  5    MelserKRÜ         0
  6    keznitKRÜ         0
  7      heatKRÜ         0
  8      ShyyKRÜ         0
  9       mtaKRÜ         0,
            name  clutches
  0  crashiesNRG         1
  1    VictorNRG         0
  2   FiNESSENRG         2
  3       s0mNRG         0
  4     EthanNRG         1
  5    MelserKRÜ         0
  6    keznitKRÜ         0
  7      heatKRÜ         0
  8      ShyyKRÜ         0
  9       mtaKRÜ         0],
 'Series 16': [        name  clutches
  0    valynG2         1
  1   JonahPG2         0
  2     leafG2         0
  3      icyG2         0
  4    trentG2         1
  5  MelserKRÜ         1
  6  keznitKRÜ         0
  7    heatKRÜ         1
  8    ShyyKRÜ         0
  9     mtaKRÜ         0,
          name  clutches
  0    valynG2         1
  1   JonahPG2         2
  2     leafG2         0
  3      icyG2         0
  4    trentG2         1
  5  MelserKRÜ         1
  6  keznitKRÜ         0
  7    heatKRÜ         0
  8    ShyyKRÜ         0
  9     mtaKRÜ         0,
          name  clutches
  0    valynG2         1
  1   JonahPG2         2
  2     leafG2         1
  3      icyG2         0
  4    trentG2         1
  5  MelserKRÜ         1
  6  keznitKRÜ         0
  7    heatKRÜ         0
  8    ShyyKRÜ         0
  9     mtaKRÜ         0],
 'Series 17': [           name  clutches
  0   pANcadaLOUD         2
  1   saadhakLOUD         0
  2      tuyzLOUD         0
  3  cauanzinLOUD         0
  4      LessLOUD         0
  5        C0MLEV         0
  6        texLEV         0
  7     MazinoLEV         0
  8      aspasLEV         0
  9      kiNggLEV         0,
             name  clutches
  0   pANcadaLOUD         0
  1   saadhakLOUD         0
  2      tuyzLOUD         0
  3  cauanzinLOUD         0
  4      LessLOUD         0
  5        C0MLEV         1
  6        texLEV         1
  7     MazinoLEV         0
  8      aspasLEV         0
  9      kiNggLEV         1],
 'Series 18': [         name  clutches
  0  liazziMIBR         1
  1  artzinMIBR         1
  2   mazinMIBR         1
  3    richMIBR         0
  4   PallaMIBR         0
  5     xandFUR         0
  6      nzrFUR         1
  7   mwzeraFUR         0
  8   KhalilFUR         0
  9    havocFUR         0,
           name  clutches
  0  liazziMIBR         0
  1  artzinMIBR         1
  2   mazinMIBR         0
  3    richMIBR         1
  4   PallaMIBR         1
  5     xandFUR         0
  6      nzrFUR         0
  7   mwzeraFUR         0
  8   KhalilFUR         0
  9    havocFUR         1],
 'Series 19': [          name  clutches
  0  crashiesNRG         0
  1    VictorNRG         0
  2   FiNESSENRG         0
  3       s0mNRG         0
  4     EthanNRG         0
  5      mooseC9         0
  6     vanityC9         0
  7     XeppaaC9         0
  8       runiC9         0
  9        OXYC9         0,
            name  clutches
  0  crashiesNRG         0
  1    VictorNRG         0
  2   FiNESSENRG         0
  3       s0mNRG         1
  4     EthanNRG         1
  5      mooseC9         1
  6     vanityC9         2
  7     XeppaaC9         1
  8       runiC9         0
  9        OXYC9         0,
            name  clutches
  0  crashiesNRG         0
  1    VictorNRG         0
  2   FiNESSENRG         0
  3       s0mNRG         0
  4     EthanNRG         1
  5      mooseC9         1
  6     vanityC9         0
  7     XeppaaC9         0
  8       runiC9         0
  9        OXYC9         0],
 'Series 20': [            name  clutches
  0      supamenEG         0
  1       DerrekEG         0
  2      jawgemoEG         0
  3       NaturEEG         0
  4        ApothEG         2
  5      Asuna100T         1
  6    Boostio100T         0
  7       eeiu100T         1
  8       bang100T         0
  9  Cryocells100T         0,
              name  clutches
  0      supamenEG         0
  1       DerrekEG         0
  2      jawgemoEG         0
  3       NaturEEG         1
  4        ApothEG         1
  5      Asuna100T         0
  6    Boostio100T         0
  7       eeiu100T         0
  8       bang100T         0
  9  Cryocells100T         2,
              name  clutches
  0      supamenEG         0
  1       DerrekEG         1
  2      jawgemoEG         0
  3       NaturEEG         0
  4        ApothEG         0
  5      Asuna100T         1
  6    Boostio100T         0
  7       eeiu100T         0
  8       bang100T         0
  9  Cryocells100T         0],
 'Series 21': [],
 'Series 22': [],
 'Series 23': [],
 'Series 24': [],
 'Series 25': []}

# Overview

In [11]:
def clean_dataframe(df, team_names):
    if df.empty:
        return None
    
    df_copy = df.copy()

    # Rename the columns
    df_copy.columns = ['name', 'blank', 'rating', 'acs', 'kills', 'deaths', 'assists', 'k/d', 'KAST', 'adr', 'hs', 'fk', 'fd', 'fk/fd']

    # Clean the 'name' column
    df_copy['name'] = df_copy['name'].str.strip().str.replace('\t', '').str.replace('\n', '')
    
#     # Clean the team names
#     for team in team_names:
#         df_copy['name'] = df_copy['name'].str.replace(team, '').str.strip()

    # Drop all unneeded columns
    df_copy = df_copy.drop(columns=['blank', 'rating', 'acs', 'k/d', 'KAST', 'hs', 'fk/fd'])
    
    # Apply a lambda function to extract the first number from each cell
    df_copy['kills'] = df_copy['kills'].apply(lambda x: x.split('\n')[0] if x else None)

    # Use a try-except block to handle potential errors in 'deaths' column processing
    try:
        df_copy['deaths'] = df_copy['deaths'].apply(lambda x: int(re.findall(r'\d+', x)[0]) if x else None)
    except IndexError:
        df_copy['deaths'] = None  # Handle the error by assigning a default value

    df_copy['assists'] = df_copy['assists'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['adr'] = df_copy['adr'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['fk'] = df_copy['fk'].apply(lambda x: x.split('\n')[0] if x else None)
    df_copy['fd'] = df_copy['fd'].apply(lambda x: x.split('\n')[0] if x else None)

    return df_copy

def scrape_data(url_list):
    all_dfs = {}  # Dictionary to store processed DataFrames for each URL

    team_names = ['MIBR', 'LEV', 'SEN', 'NRG', 'FUR', '100T', 'LOUD', 'EG', 'G2', 'C9', 'KRÜ']

    for url in url_list:
        response = requests.get(url)
        if response.status_code == 200:
            soup = bs(response.content, 'html.parser')

            # Initialize lists to store DataFrames for each pass
            first_pass_dfs = []
            second_pass_dfs = []

            # Find all game divs
            game_divs = soup.find_all('div', class_='vm-stats-game')

            # First pass: Find initial tables
            for game_div in game_divs:
                table = game_div.find('table', class_='wf-table-inset mod-overview')

                if table:
                    # Extract table data into a DataFrame
                    table_data = []
                    rows = table.find_all('tr')
                    for row in rows:
                        row_data = [cell.text.strip() for cell in row.find_all(['td', 'th'])]
                        table_data.append(row_data)

                    # Convert table_data into a DataFrame and append to first_pass_dfs list
                    df = pd.DataFrame(table_data[1:], columns=table_data[0])  # Assuming first row is header
                    first_pass_dfs.append(df)

            # Second pass: Find the next tables
            for game_div in game_divs:
                table = game_div.find('table', class_='wf-table-inset mod-overview')
                if table:
                    next_table = table.find_next('table', class_='wf-table-inset mod-overview')
                    if next_table:
                        # Extract table data into a DataFrame
                        table_data = []
                        rows = next_table.find_all('tr')
                        for row in rows:
                            row_data = [cell.text.strip() for cell in row.find_all(['td', 'th'])]
                            table_data.append(row_data)

                        # Convert table_data into a DataFrame and append to second_pass_dfs list
                        df = pd.DataFrame(table_data[1:], columns=table_data[0])  # Assuming first row is header
                        second_pass_dfs.append(df)

            # Process and clean DataFrames from both passes
            first_pass_cleaned = [clean_dataframe(df, team_names) for df in first_pass_dfs if not df.empty]
            second_pass_cleaned = [clean_dataframe(df, team_names) for df in second_pass_dfs if not df.empty]

            # Combine corresponding DataFrames from both passes
            combined_dfs = []
            min_length = min(len(first_pass_cleaned), len(second_pass_cleaned))
            for i in range(min_length):
                if first_pass_cleaned[i] is not None and second_pass_cleaned[i] is not None:
                    combined_df = pd.concat([first_pass_cleaned[i], second_pass_cleaned[i]], axis=0)
                    combined_dfs.append(combined_df)
                    combined_df.reset_index(inplace=True, drop=True)

            all_dfs[url] = combined_dfs

        else:
            print('Failed to retrieve the webpage. Status code:', response.status_code)

    return all_dfs

In [12]:
over_data = scrape_data(over_list)

In [13]:
# remove the second df from each series

# Create a list of new keys
new_keys = [f'Series {i+1}' for i in range(len(over_data))]

# Create a new dictionary with updated keys
over_data = dict(zip(new_keys, over_data.values()))

In [14]:
over_data['Series 2']

[           name kills  deaths assists  adr fk fd
 0    zekken SEN    22      14       7  222  7  4
 1      Sacy SEN    19      10       9  161  0  2
 2   Zellsis SEN    16      10       6  131  1  0
 3      TenZ SEN    13      13      14  127  1  1
 4    johnqt SEN    10      11       5   96  2  2
 5       s0m NRG    14      17       6  142  4  4
 6     Ethan NRG    14      15      10  121  3  0
 7    Victor NRG    11      17       5  116  2  6
 8   FiNESSE NRG     9      16       4   79  1  0
 9  crashies NRG    10      16       4   92  0  2,
            name kills  deaths assists  adr  fk  fd
 0    zekken SEN    46      33      21  213  12   8
 1   Zellsis SEN    37      24      22  135   2   1
 2      TenZ SEN    36      29      24  134   5   3
 3      Sacy SEN    38      26      17  145   3   5
 4    johnqt SEN    25      28       9  102   3   4
 5       s0m NRG    30      35      21  131   4   6
 6     Ethan NRG    32      34      23  118   5   3
 7    Victor NRG    34      41      10  150   9  13
 8  crashies NRG    23      35      14   92   1   3
 9   FiNESSE NRG    21      38       8   90   3   1,
            name kills  deaths assists  adr fk fd
 0      TenZ SEN    23      16      10  140  4  2
 1    zekken SEN    24      19      14  206  5  4
 2   Zellsis SEN    21      14      16  138  1  1
 3      Sacy SEN    19      16       8  132  3  3
 4    johnqt SEN    15      17       4  108  1  2
 5     Ethan NRG    18      19      13  117  2  3
 6       s0m NRG    16      18      15  123  0  2
 7    Victor NRG    23      24       5  177  7  7
 8  crashies NRG    13      19      10   92  1  1
 9   FiNESSE NRG    12      22       4  100  2  1]

In [15]:
# Iterate through the dictionary and remove the second item from each list value
for key in over_data:
    if len(over_data[key]) > 1:
        del over_data[key][1]  # Delete the second item (index 1)

In [16]:
over_data['Series 2']

[           name kills  deaths assists  adr fk fd
 0    zekken SEN    22      14       7  222  7  4
 1      Sacy SEN    19      10       9  161  0  2
 2   Zellsis SEN    16      10       6  131  1  0
 3      TenZ SEN    13      13      14  127  1  1
 4    johnqt SEN    10      11       5   96  2  2
 5       s0m NRG    14      17       6  142  4  4
 6     Ethan NRG    14      15      10  121  3  0
 7    Victor NRG    11      17       5  116  2  6
 8   FiNESSE NRG     9      16       4   79  1  0
 9  crashies NRG    10      16       4   92  0  2,
            name kills  deaths assists  adr fk fd
 0      TenZ SEN    23      16      10  140  4  2
 1    zekken SEN    24      19      14  206  5  4
 2   Zellsis SEN    21      14      16  138  1  1
 3      Sacy SEN    19      16       8  132  3  3
 4    johnqt SEN    15      17       4  108  1  2
 5     Ethan NRG    18      19      13  117  2  3
 6       s0m NRG    16      18      15  123  0  2
 7    Victor NRG    23      24       5  177  7  7
 8  crashies NRG    13      19      10   92  1  1
 9   FiNESSE NRG    12      22       4  100  2  1]

# Combining DFS

In [85]:
# Initialize an empty list to store all DataFrames
over_dfs = []

# Iterate through each series in re_dfs
for dfs_list in over_data.values():
    # Extend all_dfs with the list of DataFrames for the current series
    over_dfs.extend(dfs_list)

In [110]:
# Combine all dataframes into one
comb_over = pd.concat(over_dfs, ignore_index=True)

names_over = comb_over['name'].unique()

# Sort the array alphabetically
sorted_names_over = sorted(names_over)

In [87]:
# Convert numeric columns to numeric types if necessary
comb_over['kills'] = pd.to_numeric(comb_over['kills'], errors='coerce')
comb_over['deaths'] = pd.to_numeric(comb_over['deaths'], errors='coerce')
comb_over['assists'] = pd.to_numeric(comb_over['assists'], errors='coerce')
comb_over['adr'] = pd.to_numeric(comb_over['adr'], errors='coerce')
comb_over['fk'] = pd.to_numeric(comb_over['fk'], errors='coerce')
comb_over['fd'] = pd.to_numeric(comb_over['fd'], errors='coerce')
# combined_all['clutches'] = pd.to_numeric(combined_all['clutches'], errors='coerce')

# Example of summing each individual stat for each player
player_stats = comb_over.groupby('name').agg({
    'kills': 'sum',
    'deaths': 'sum',
    'assists': 'sum',
    'adr': 'mean',
    'fk': 'sum',
    'fd': 'sum'
#     'clutches': 'sum'
}).reset_index()

In [103]:
# Assuming player_stats is your DataFrame containing summed statistics for each player
# Convert 'name' column to lowercase for case-insensitive sorting
player_stats['name_lower'] = player_stats['name'].str.lower()

# Sort the DataFrame alphabetically by 'name_lower' column
player_stats_sorted = player_stats.sort_values(by='name_lower')

# Drop the 'name_lower' column if you don't need it anymore
player_stats_sorted = player_stats_sorted.drop(columns=['name_lower'])

# Print the sorted DataFrame
player_stats_sorted.reset_index(drop=True, inplace=True)

player_stats_sorted.head(2)

          name  kills  deaths  assists         adr    fk    fd
0     Apoth EG  113.0   150.0     58.0  112.100000  16.0  25.0
1  artzin MIBR  140.0   142.0     43.0  136.444444  22.0  19.0

In [123]:
# Load the CSV file into a DataFrame
vlr_df = pd.read_csv('stats_vlr.csv')
vlr_df = vlr_df.drop('CL', axis = 1)

new_names = ['name', 'adr', 'kills', 'deaths', 'assists', 'fk', 'fd']

# Assign new column names
vlr_df.columns = new_names

new_order = ['name', 'kills', 'deaths', 'assists', 'adr', 'fk', 'fd']

vlr_df = vlr_df[new_order]

vlr_df

               name  kills  deaths  assists    adr  fk  fd
0         Apoth\nEG    113     150       58  111.3  16  25
1      artzin\nMIBR    140     142       43  138.7  22  19
2        aspas\nLEV    159     102       31  171.4  37  23
3       Asuna\n100T    138     140       95  134.1  29  27
4        bang\n100T    134     138       67  124.0  24  29
5     Boostio\n100T    137     146       68  138.5  14  15
6          C0M\nLEV     96     100       64  115.2  15   9
7    cauanzin\nLOUD    194     175       63  150.0  32  24
8     crashies\nNRG    126     137       70  113.4   9  13
9   Cryocells\n100T    149     148       45  129.1  26  22
10       Derrek\nEG    149     138       71  131.9  13   7
11       eeiu\n100T    162     118       77  153.8  10   3
12       Ethan\nNRG    164     152       92  136.2  25  13
13     FiNESSE\nNRG    116     163       60  105.5  17   9
14       havoc\nFUR    147     143       39  144.3  22  29
15        heat\nKRÜ    120     127       68  125.1  12  20
16          icy\nG2    117     119       35  128.1  17  26
17      jawgemo\nEG    166     165       60  161.5  42  28
18      johnqt\nSEN     77      79       28  110.9   8   9
19       JonahP\nG2    114     112       74  115.4  18  12
20      keznit\nKRÜ    152     130       37  166.1  34  23
21      Khalil\nFUR    172     130       68  150.6  15  13
22       kiNgg\nLEV    135      86       68  146.7  15  10
23       Klaus\nKRÜ     20      34       11   92.6   4   6
24         leaf\nG2    130     120       45  154.4  19  19
25       Less\nLOUD    177     163       46  132.9  22  15
26     liazzi\nMIBR    108     140       48  110.1   7  14
27      mazin\nMIBR    102     130       52  107.7  12   9
28      Mazino\nLEV    137     104       78  149.7  11  15
29      Melser\nKRÜ    134     119       50  137.7  17  19
30        moose\nC9     90     103       25  104.8  11   9
31         mta\nKRÜ     58      98       45   92.2  11   8
32      mwzera\nFUR    165     164       52  152.4  39  29
33       NaturE\nEG    119     144       79  107.8  13  13
34         nzr\nFUR    141     137       68  138.3   6   9
35          OXY\nC9    136     132       29  148.9  32  28
36      Pa1nt\nMIBR     19      35       12  101.3   4   9
37      Palla\nMIBR    101     127       20  137.6  30  30
38    pANcada\nLOUD    161     157       78  125.5  17  19
39       rich\nMIBR     99     116       27  128.9  13  12
40         runi\nC9     99     110       56  112.2   6   8
41         s0m\nNRG    166     147       97  143.6  20  16
42    saadhak\nLOUD    138     188       89  123.3  28  42
43        Sacy\nSEN     86      77       48  123.4  10  16
44    ShahZaM\nMIBR     23      29       14  124.2   3   4
45        Shyy\nKRÜ    121     120       34  128.8   6  14
46      supamen\nEG    166     148       53  136.3  18  30
47        TenZ\nSEN     99      81       51  133.7  13  12
48         tex\nLEV    122     111       36  131.7  14  17
49        trent\nG2    120     115       56  133.3  12  17
50       tuyz\nLOUD    162     168       60  122.8  17  25
51        valyn\nG2    117     116       61  128.1  17  12
52       vanity\nC9    115     122       53  130.5  19  24
53      Victor\nNRG    161     165       37  139.6  43  51
54        xand\nFUR    102     152       77   92.7  15  26
55       Xeppaa\nC9     93     116       62  116.4  10  19
56      zekken\nSEN    127      96       43  195.6  36  21
57     Zellsis\nSEN     93      65       58  121.7   3   5

In [101]:
# Compare the DataFrames
comparison = player_stats_sorted.compare(vlr_df)

In [105]:
comparison.head(2)

          name                       adr
          self         other        self  other
0     Apoth EG     Apoth\nEG  112.100000  111.3
1  artzin MIBR  artzin\nMIBR  136.444444  138.7

In [63]:
# Initialize an empty list to store all DataFrames
perf_dfs = []

# Iterate through each series in re_dfs
for dfs_list in perf_data.values():
    # Extend all_dfs with the list of DataFrames for the current series
    perf_dfs.extend(dfs_list)

In [116]:
# Combine all dataframes into one
comb_perf = pd.concat(perf_dfs, ignore_index=True)

names_perf = comb_perf['name'].unique()

# Sort the array alphabetically
sorted_names_perf = sorted(names_perf)

In [65]:
comb_perf

              name  clutches
0      ShahZaMMIBR         0
1       liazziMIBR         0
2       artzinMIBR         0
3        mazinMIBR         1
4        Pa1ntMIBR         0
..             ...       ...
475      Asuna100T         1
476    Boostio100T         0
477       eeiu100T         0
478       bang100T         0
479  Cryocells100T         0

[480 rows x 2 columns]

In [66]:
# Load the CSV file into a DataFrame
names_df = pd.read_csv('name_map.csv')

In [67]:
names_df

     game_id player_name      agent team_abrev     map
0          0      mazin        Omen       MIBR  Ascent
1          0     artzin        Yoru       MIBR  Ascent
2          0    ShahZaM        Sova       MIBR  Ascent
3          0     liazzi     Killjoy       MIBR  Ascent
4          0      Pa1nt         Iso       MIBR  Ascent
..       ...         ...        ...        ...     ...
625       62      trent   not found         G2     TBD
626       62      valyn   not found         G2     TBD
627       62     JonahP   not found         G2     TBD
628       62       leaf   not found         G2     TBD
629       62        icy   not found         G2     TBD

[630 rows x 5 columns]

In [111]:
names_final = names_df['player_name'].unique()

In [112]:
# Sort the array alphabetically
sorted_names_final = sorted(names_final)

In [114]:
# Create a mapping dictionary
mapping = dict(zip(sorted_names_over, sorted_names_final))

# Replace values in 'name' column using the mapping
comb_over['name'] = comb_over['name'].replace(mapping)

In [115]:
comb_over

         name kills deaths assists   adr    fk    fd
0      mazin     20     15      10   161     3     1
1     artzin     18     15       9   139     7     0
2    ShahZaM     12     14       9   122     2     1
3     liazzi     13     14       5   126     0     2
4      Pa1nt     11     17       6    98     2     4
..        ...   ...    ...     ...   ...   ...   ...
625    trent   None   None    None  None  None  None
626    valyn   None   None    None  None  None  None
627   JonahP   None   None    None  None  None  None
628     leaf   None   None    None  None  None  None
629      icy   None   None    None  None  None  None

[630 rows x 7 columns]

In [117]:
# Create a mapping dictionary
mapping = dict(zip(sorted_names_perf, sorted_names_final))

# Replace values in 'name' column using the mapping
comb_perf['name'] = comb_perf['name'].replace(mapping)

In [118]:
comb_perf

           name  clutches
0      ShahZaM          0
1       liazzi          0
2       artzin          0
3        mazin          1
4        Pa1nt          0
..          ...       ...
475      Asuna          1
476    Boostio          0
477       eeiu          0
478       bang          0
479  Cryocells          0

[480 rows x 2 columns]

In [48]:
# Left join
df_test = names_df.join(comb_over, how='left')

In [49]:
df_test.head(20)

,game_id,player_name,agent,team_abrev,map,kills,deaths,assists,adr,fk,fd
0,0,mazin,Omen,MIBR,Ascent,20,15,10,161,3,1
1,0,artzin,Yoru,MIBR,Ascent,18,15,9,139,7,0
2,0,ShahZaM,Sova,MIBR,Ascent,12,14,9,122,2,1
3,0,liazzi,Killjoy,MIBR,Ascent,13,14,5,126,0,2
4,0,Pa1nt,Iso,MIBR,Ascent,11,17,6,98,2,4
5,0,tex,Killjoy,LEV,Ascent,20,15,2,179,3,3
6,0,Mazino,Kayo,LEV,Ascent,22,15,9,175,1,3
7,0,kiNgg,Omen,LEV,Ascent,12,14,8,111,2,3
8,0,C0M,Sova,LEV,Ascent,10,14,7,106,0,1
9,0,aspas,Jett,LEV,Ascent,11,16,4,113,2,4
10,1,tex,Killjoy,LEV,Icebox,15,14,5,150,3,1
11,1,Mazino,Kayo,LEV,Icebox,16,15,4,150,0,3
12,1,kiNgg,Omen,LEV,Icebox,11,15,5,127,1,3
13,1,C0M,Sova,LEV,Icebox,8,18,6,105,2,5
14,1,aspas,Jett,LEV,Icebox,8,16,1,80,1,1
15,1,mazin,Omen,MIBR,Icebox,22,10,8,210,4,0
16,1,artzin,Yoru,MIBR,Icebox,21,8,4,179,5,1
17,1,ShahZaM,Sova,MIBR,Icebox,17,13,5,156,2,0
18,1,liazzi,Killjoy,MIBR,Icebox,9,14,12,124,1,3
19,1,Pa1nt,Iso,MIBR,Icebox,9,13,3,104,1,3

In [50]:
# Get the length of comb_perf
length_comb_perf = len(comb_perf)

# Select only the rows in df_test that are within the range of length_comb_perf
df_test_trimmed = df_test.iloc[:length_comb_perf]

In [29]:
# Remove the 'name' column from comb_perf
comb_perf = comb_perf.drop(columns=['name'])

# Combine comb_perf and df_test_trimmed on the index
combined_all = df_test_trimmed.join(comb_perf, how='left')

In [51]:
combined_all = df_test_trimmed

In [52]:
# Assuming combined_all is your DataFrame
# Save to CSV
# combined_all.to_csv('database.csv', index=False)

In [57]:
# Convert numeric columns to numeric types if necessary
combined_all['kills'] = pd.to_numeric(combined_all['kills'], errors='coerce')
combined_all['deaths'] = pd.to_numeric(combined_all['deaths'], errors='coerce')
combined_all['assists'] = pd.to_numeric(combined_all['assists'], errors='coerce')
combined_all['adr'] = pd.to_numeric(combined_all['adr'], errors='coerce')
combined_all['fk'] = pd.to_numeric(combined_all['fk'], errors='coerce')
combined_all['fd'] = pd.to_numeric(combined_all['fd'], errors='coerce')
# combined_all['clutches'] = pd.to_numeric(combined_all['clutches'], errors='coerce')

# Example of summing each individual stat for each player
player_stats = combined_all.groupby('player_name').agg({
    'kills': 'sum',
    'deaths': 'sum',
    'assists': 'sum',
    'adr': 'mean',
    'fk': 'sum',
    'fd': 'sum'
#     'clutches': 'sum'
}).reset_index()

C:\Users\bmac9\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bmac9\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\bmac9\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\bmac9\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\bmac9\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bmac9\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [58]:
# Assuming player_stats is your DataFrame containing summed statistics for each player
# Convert 'name' column to lowercase for case-insensitive sorting
player_stats['name_lower'] = player_stats['player_name'].str.lower()

# Sort the DataFrame alphabetically by 'name_lower' column
player_stats_sorted = player_stats.sort_values(by='name_lower')

# Drop the 'name_lower' column if you don't need it anymore
player_stats_sorted = player_stats_sorted.drop(columns=['name_lower'])

# Print the sorted DataFrame
player_stats_sorted

   player_name  kills  deaths  assists         adr  fk  fd
0       Apoth     110     153       62  108.900000  14  23
25     artzin     133     131       46  131.888889  20  14
26      aspas     120     118       32  137.000000  22  18
1       Asuna     146     135       79  140.000000  21  21
27       bang     115     140       67  110.555556  27  24
2     Boostio     144     140       56  146.444444  16  23
3         C0M     105     114       55  123.750000  15  20
28   cauanzin     206     159       61  155.181818  28  25
29   crashies     125     145       65  109.800000  14  16
4   Cryocells     146     141       51  125.111111  19  19
5      Derrek     142     156       64  127.900000  23  16
30       eeiu     175     127       67  156.444444  19  10
6       Ethan     179     148       80  153.100000  30  22
7     FiNESSE     117     155       47   99.800000  21  19
31      havoc     139     148       55  138.666667  21  22
32       heat     129     128       39  146.125000  18  20
33        icy     109     117       54  120.250000  23  25
34    jawgemo     152     153       69  145.600000  29  25
35     johnqt      70      89       31  108.166667  10   9
8      JonahP     113     122       55  122.000000  20  12
36     keznit     142     121       46  158.375000  25  18
9      Khalil     171     135       76  153.222222  25  12
37      kiNgg     111     105       58  126.500000  11  11
10      Klaus      24      30       11   96.500000   3   4
38       leaf     133     112       59  151.875000  18  12
11       Less     197     155       57  144.727273  25  12
39     liazzi     115     132       68  120.000000  12  17
40      mazin     136     131       59  135.444444  18  12
12     Mazino     131     120       66  146.625000  11  24
13     Melser     148     114       68  152.750000  14  21
41      moose      96     107       35  104.000000  10  11
42        mta      61      96       45   94.000000  11   9
43     mwzera     163     147       58  140.888889  27  24
14     NaturE     114     164       61  100.400000  12  20
44        nzr     127     144       52  133.555556  12  17
15        OXY     118     132       39  133.750000  26  30
16      Pa1nt      20      30        9  101.000000   3   7
17      Palla      97     110       30  129.857143  19  23
45    pANcada     177     147       76  136.909091  18  26
46       rich     111     110       32  145.571429  24  14
47       runi     114     114       57  123.000000   7  10
48        s0m     186     147       84  157.200000  27  13
49    saadhak     154     178       63  129.363636  32  33
18       Sacy      75      86       49  106.166667   8  15
19    ShahZaM      29      27       14  139.000000   4   1
20       Shyy     118     122       46  126.750000  15  16
50    supamen     162     152       49  141.300000  18  25
21       TenZ      97      90       44  133.333333  15  19
51        tex     108     120       48  126.625000  16  18
52      trent     123     114       41  127.875000  14  15
53       tuyz     153     157       82  115.909091  16  26
54      valyn     127     110       51  137.875000  13  17
55     vanity      94     128       50  114.500000  15  22
22     Victor     148     147       62  126.000000  21  33
56       xand     124     155       84  110.444444  24  19
23     Xeppaa      99     116       62  127.500000  18  19
57     zekken     118      92       46  170.666667  28  14
24    Zellsis      88      73       59  120.000000   5   8

In [119]:
# Initialize an empty list to store all DataFrames
over_dfs = []

# Iterate through each series in re_dfs
for dfs_list in over_data.values():
    # Extend all_dfs with the list of DataFrames for the current series
    over_dfs.extend(dfs_list)

In [120]:
# Initialize an empty list to store all DataFrames
perf_dfs = []

# Iterate through each series in re_dfs
for dfs_list in perf_data.values():
    # Extend all_dfs with the list of DataFrames for the current series
    perf_dfs.extend(dfs_list)

In [ ]:
# Combine all dataframes into one
comb_over = pd.concat(over_dfs, ignore_index=True)

names_over = comb_over['name'].unique()

# Sort the array alphabetically
sorted_names_over = sorted(names_over)

In [ ]:
# Combine all dataframes into one
comb_perf = pd.concat(perf_dfs, ignore_index=True)

names_perf = comb_perf['name'].unique()

# Sort the array alphabetically
sorted_names_perf = sorted(names_perf)

In [121]:
over_dfs

[           name kills  deaths assists  adr fk fd
 0    mazin MIBR    20      15      10  161  3  1
 1   artzin MIBR    18      15       9  139  7  0
 2  ShahZaM MIBR    12      14       9  122  2  1
 3   liazzi MIBR    13      14       5  126  0  2
 4    Pa1nt MIBR    11      17       6   98  2  4
 5       tex LEV    20      15       2  179  3  3
 6    Mazino LEV    22      15       9  175  1  3
 7     kiNgg LEV    12      14       8  111  2  3
 8       C0M LEV    10      14       7  106  0  1
 9     aspas LEV    11      16       4  113  2  4,
            name kills  deaths assists  adr fk fd
 0    mazin MIBR    15      14       5  150  3  1
 1   artzin MIBR    16      15       4  150  0  3
 2  ShahZaM MIBR    11      15       5  127  1  3
 3    Pa1nt MIBR     8      18       6  105  2  5
 4   liazzi MIBR     8      16       1   80  1  1
 5     kiNgg LEV    22      10       8  210  4  0
 6     aspas LEV    21       8       4  179  5  1
 7       C0M LEV    17      13       5  156  2  0
 8    Mazino LEV     9      14      12  124  1  3
 9       tex LEV     9      13       3  104  1  3,
            name kills  deaths assists  adr fk fd
 0    zekken SEN    22      14       7  222  7  4
 1      Sacy SEN    19      10       9  161  0  2
 2   Zellsis SEN    16      10       6  131  1  0
 3      TenZ SEN    13      13      14  127  1  1
 4    johnqt SEN    10      11       5   96  2  2
 5       s0m NRG    14      17       6  142  4  4
 6     Ethan NRG    14      15      10  121  3  0
 7    Victor NRG    11      17       5  116  2  6
 8   FiNESSE NRG     9      16       4   79  1  0
 9  crashies NRG    10      16       4   92  0  2,
            name kills  deaths assists  adr fk fd
 0      TenZ SEN    23      16      10  140  4  2
 1    zekken SEN    24      19      14  206  5  4
 2   Zellsis SEN    21      14      16  138  1  1
 3      Sacy SEN    19      16       8  132  3  3
 4    johnqt SEN    15      17       4  108  1  2
 5     Ethan NRG    18      19      13  117  2  3
 6       s0m NRG    16      18      15  123  0  2
 7    Victor NRG    23      24       5  177  7  7
 8  crashies NRG    13      19      10   92  1  1
 9   FiNESSE NRG    12      22       4  100  2  1,
              name kills  deaths assists  adr fk fd
 0      Khalil FUR    22      15       9  150  4  2
 1         nzr FUR    23      16       4  163  1  2
 2       havoc FUR    21      21       7  170  1  3
 3      mwzera FUR    18      22       5  128  5  4
 4        xand FUR    16      18      12   98  3  1
 5       eeiu 100T    19      18       6  154  0  0
 6  Cryocells 100T    23      21       2  137  3  4
 7      Asuna 100T    16      20       7  116  1  5
 8       bang 100T    17      19       6  133  6  3
 9    Boostio 100T    17      22       7  141  2  2,
              name kills  deaths assists  adr fk fd
 0      Khalil FUR    31      17      10  172  1  3
 1         nzr FUR    24      19      20  147  1  1
 2       havoc FUR    18      19       3  116  1  3
 3      mwzera FUR    21      27      12  136  6  6
 4        xand FUR    14      22       7  106  1  7
 5      Asuna 100T    23      21      17  142  5  2
 6    Boostio 100T    21      21       9  148  1  2
 7       eeiu 100T    17      19      13  141  2  1
 8       bang 100T    20      21      12  109  4  3
 9  Cryocells 100T    23      26       8  153  8  2,
             name kills  deaths assists  adr fk fd
 0      Less LOUD    20       9       6  170  2  1
 1   saadhak LOUD    20      15       7  188  3  4
 2  cauanzin LOUD    17      13       8  146  0  4
 3      tuyz LOUD    14      12       5  119  0  2
 4   pANcada LOUD    11      11       9   76  2  2
 5     jawgemo EG    19      18       7  207  8  1
 6     supamen EG    20      16       4  165  1  2
 7      NaturE EG     6      14       7   63  1  1
 8      Derrek EG     7      16       7   65  1  0
 9       Apoth EG     8      18       1   90  2  3,
             name kills  deaths assists  adr fk fd
 0   pANcada LOUD    12      13       9  126  1  3
 1      Less LOUD    14      12       2  137  1  1
 2  cauanzin LOUD    14      15       8  159  1  1
 3   saadhak LOUD    11      16       5  135  2  5
 4      tuyz LOUD     9      15       3  103  2  2
 5     jawgemo EG    22      14       5  206  8  1
 6      Derrek EG    15      10       8  126  1  0
 7       Apoth EG    15      13       4  140  2  1
 8      NaturE EG     9      12      12  101  1  2
 9     supamen EG    10      11      10   82  0  3,
             name kills  deaths assists  adr fk fd
 0      tuyz LOUD    22      15       6  172  2  1
 1  cauanzin LOUD    21      17       7  179  4  2
 2      Less LOUD    17      15       5  122  1  3
 3   saadhak LOUD    15      17       6  114  3  4
 4   pANcada LOUD    12      14       6  114  1  3
 5      Derrek EG    20      15       8  160  1  0
 6     jawgemo EG    17      17       3  129  5  1
 7      NaturE EG    13      16       5  118  4  1
 8     supamen EG    20      21       2  129  2  7
 9       Apoth EG     8      18       7   74  1  2,
         name kills  deaths assists  adr fk fd
 0    leaf G2    18      16       8  147  2  1
 1   valyn G2    19      17       6  137  2  1
 2   trent G2    16      14       4  119  2  3
 3  JonahP G2    14      17      17  113  3  2
 4     icy G2    16      16       6  104  2  6
 5  Xeppaa C9    14      16      17  131  2  2
 6    runi C9    15      14      13  142  0  0
 7     OXY C9    22      18       2  145  6  3
 8   moose C9    15      16       4  116  2  1
 9  vanity C9    14      19      11  106  3  5,
         name kills  deaths assists  adr fk fd
 0   valyn G2    15      12       7  146  2  1
 1   trent G2    11      13       5  108  2  2
 2    leaf G2    11      15       3  135  1  3
 3  JonahP G2    10      15       3  106  1  2
 4     icy G2     9      15       6  104  2  2
 5    runi C9    18       8       4  166  2  0
 6   moose C9    13       8       5  156  1  1
 7     OXY C9    14      14       3  142  6  4
 8  Xeppaa C9    15      13       3  156  0  3
 9  vanity C9    10      13       5  109  1  0,
         name kills  deaths assists  adr fk fd
 0    leaf G2    19      12       8  181  1  3
 1   trent G2    15      11       6  125  2  1
 2  JonahP G2    15      11       4  103  3  1
 3     icy G2    14      13       5  123  1  0
 4   valyn G2    11      14       8  106  6  3
 5  vanity C9    21      16       7  176  3  2
 6     OXY C9    18      16       7  167  3  3
 7    runi C9     9      12       8   83  1  1
 8   moose C9     7      14       1   80  0  2
 9  Xeppaa C9     6      16       5   70  1  5,
          name kills  deaths assists  adr fk fd
 0  supamen EG    23       8       4  215  2  1
 1    Apoth EG    18       8      12  158  2  4
 2  jawgemo EG    18      10       8  200  2  0
 3   Derrek EG    14      11       7  132  4  1
 4   NaturE EG    10      11       6  116  1  1
 5     nzr FUR    16      17       2  186  1  1
 6  Khalil FUR    12      17       4  114  1  1
 7    xand FUR     7      16       6   87  1  2
 8  mwzera FUR     8      17       4   85  3  3
 9   havoc FUR     5      16       4   75  1  4,
          name kills  deaths assists  adr fk fd
 0  jawgemo EG    23      14       5  252  8  3
 1   Derrek EG    15      10      10  185  1  0
 2   NaturE EG    17       8       9  153  1  0
 3  supamen EG    12       7       8  100  1  2
 4    Apoth EG     8      10       5   84  0  1
 5   havoc FUR    14      14       1  130  1  4
 6     nzr FUR    13      14       5  144  1  0
 7  Khalil FUR    10      15       2  125  0  1
 8  mwzera FUR     9      16       5  109  4  4
 9    xand FUR     3      16       5   44  0  2,
           name kills  deaths assists  adr fk fd
 0   zekken SEN    22      20      12  207  4  3
 1  Zellsis SEN    13      11      15   97  0  0
 2     TenZ SEN    21      16       6  160  3  5
 3   johnqt SEN    15      14       8  133  0  1
 4     Sacy SEN    15      17       8  100  3  5
 5   Melser KRÜ    19      15       6  133  3  3
 6     heat KRÜ    19      17       5  148  2  1
 7   keznit KRÜ    19      20       6  169  6  1
 8    Klaus KRÜ    12      18       4   97  2  3
 9     Shyy KRÜ     9      16       2   77  1  2,
           name kills  deaths assists  adr fk fd
 0     TenZ SEN    18      13       4  115  3  1
 1   zekken SEN    19      19       4  172  4  5
 2     Sacy SEN    15      13       4  146  2  1
 3  Zellsis SEN    12      12       7   96  1  1
 4   johnqt SEN    11      16       6  111  2  3
 5   keznit KRÜ    20      16       3  162  5  2
 6     heat KRÜ    16      15       8  120  1  3
 7   Melser KRÜ    15      13       7  110  2  1
 8     Shyy KRÜ    14      15       8  115  1  3
 9    Klaus KRÜ     8      16       7   88  2  3,
             name kills  deaths assists  adr fk fd
 0   saadhak LOUD    19      11      14  182  2  1
 1      tuyz LOUD    20      13       5  176  3  3
 2      Less LOUD    16      11       4  122  3  1
 3   pANcada LOUD    16      11       5  142  1  1
 4  cauanzin LOUD    15      12       4  132  3  2
 5     mazin MIBR    14      14       3  133  0  0
 6    liazzi MIBR    13      16      11  117  1  2
 7      rich MIBR    12      20       1  141  3  2
 8    artzin MIBR     9      16       6  112  1  2
 9     Palla MIBR    10      20       3   96  3  6,
             name kills  deaths assists  adr fk fd
 0  cauanzin LOUD    23      17       8  173  3  2
 1      Less LOUD    19      17       7  144  2  1
 2   pANcada LOUD    14      15       7  119  1  1
 3      tuyz LOUD    11      19       3   85  1  3
 4   saadhak LOUD     9      22       8   89  5  5
 5    artzin MIBR    20      15       7  169  3  5
 6      rich MIBR    22      16       5  164  1  1
 7     mazin MIBR    13      10       8   96  0  0
 8    liazzi MIBR    18      14       3  136  0  2
 9     Palla MIBR    17      21       3  167  8  4,
             name kills  deaths assists  adr fk fd
 0      tuyz LOUD    21      10       1  145  1  2
 1      Less LOUD    21      14       4  172  2  1
 2  cauanzin LOUD    16      14       9  136  3  3
 3   pANcada LOUD    10      13       8   93  0  2
 4   saadhak LOUD    11      20       6  121  4  4
 5    liazzi MIBR    16      14       8  139  1  0
 6    artzin MIBR    18      17       3  144  3  3
 7     mazin MIBR     9      15       7   90  1  1
 8     Palla MIBR    18      18       3  146  6  4
 9      rich MIBR    10      15       3   95  1  2,
              name kills  deaths assists  adr fk fd
 0       aspas LEV    23      16       1  160  7  4
 1       kiNgg LEV    18      13       7  159  3  2
 2         tex LEV    17      15      11  130  1  2
 3      Mazino LEV    17      15       9  144  0  0
 4         C0M LEV    10      13      16   64  2  2
 5    Boostio 100T    20      17       6  164  1  1
 6       eeiu 100T    13      13      15  101  0  0
 7      Asuna 100T    17      20       7  153  5  3
 8  Cryocells 100T    13      19       9  121  1  3
 9       bang 100T     9      16       1   68  3  6,
              name kills  deaths assists  adr fk fd
 0       kiNgg LEV    16       8      10  164  1  1
 1       aspas LEV    19      10       3  186  6  2
 2      Mazino LEV    17       9       9  168  1  0
 3         tex LEV    12      11       2  115  1  1
 4         C0M LEV     6      10       9   85  3  1
 5      Asuna 100T    10      13      10  133  1  1
 6       eeiu 100T    13      13       4  134  1  1
 7       bang 100T    11      15      10  128  0  3
 8    Boostio 100T     7      15       4   92  2  3
 9  Cryocells 100T     7      14       2   90  1  4,
            name kills  deaths assists  adr fk fd
 0     Ethan NRG    18      18       4  182  4  2
 1       s0m NRG    13      16      10  149  0  2
 2  crashies NRG     9      12       6   79  1  1
 3    Victor NRG    13      17       6  119  3  4
 4   FiNESSE NRG     4      18       4   44  1  2
 5       leaf G2    25       9       6  205  5  1
 6      trent G2    21      14       9  196  1  2
 7        icy G2    14      10       4  142  3  2
 8      valyn G2    12      10       9   96  1  2
 9     JonahP G2     9      14       8   92  1  2,
            name kills  deaths assists  adr fk fd
 0     Ethan NRG    19      14       7  143  3  1
 1  crashies NRG    12      11       8  127  0  0
 2       s0m NRG    13      16      10  115  3  2
 3    Victor NRG    14      15       4  142  1  7
 4   FiNESSE NRG     9      20       6   96  2  2
 5     JonahP G2    16      11      13  134  1  1
 6      trent G2    17      16       7  160  4  2
 7      valyn G2    13      13       9  135  1  0
 8       leaf G2    15      14       3  141  3  3
 9        icy G2    15      13       1  126  3  3,
           name kills  deaths assists  adr fk fd
 0   zekken SEN    19      10       3  169  7  1
 1  Zellsis SEN    13       7      10  118  0  1
 2     TenZ SEN    13       9       8  130  1  1
 3   johnqt SEN    15      11       2  128  3  1
 4     Sacy SEN     8       9       9   92  1  2
 5     moose C9     8      11       2   77  0  1
 6    Xeppaa C9    10      13       7  117  2  1
 7      runi C9    10      14      10   92  0  1
 8       OXY C9    12      16       2  128  2  6
 9    vanity C9     6      14       4   65  2  3,
           name kills  deaths assists  adr fk fd
 0  Zellsis SEN    18      11       4  152  0  2
 1   zekken SEN    21      14       3  192  9  4
 2   johnqt SEN    11      10       3   89  0  0
 3     Sacy SEN    10      12      10  104  1  3
 4     TenZ SEN    11      14       9  127  1  2
 5    Xeppaa C9    17      13       8  147  3  1
 6    vanity C9    15      14       6  141  2  4
 7     moose C9    11      13       3   86  2  2
 8      runi C9    10      15       5  104  1  1
 9       OXY C9     6      16       5   77  2  2,
          name kills  deaths assists  adr fk fd
 0    Apoth EG    12      14       1  121  2  2
 1  jawgemo EG    10      16       7  114  1  2
 2  supamen EG     9      20       2  104  3  4
 3   Derrek EG     6      14       2   71  0  2
 4   NaturE EG     6      17       0   61  0  2
 5   aspas LEV    23       8       2  222  5  1
 6  Mazino LEV    21      10       7  196  4  3
 7   kiNgg LEV    16       7       8  169  1  0
 8     C0M LEV    14       8       4  156  0  1
 9     tex LEV     7      10       3   79  2  1,
          name kills  deaths assists  adr fk fd
 0   Derrek EG    23      16       5  192  1  2
 1  supamen EG    19      19       4  156  4  5
 2   NaturE EG    12      15      13   95  0  0
 3  jawgemo EG    16      19       9  135  1  4
 4    Apoth EG    10      19       9  120  2  4
 5   aspas LEV    25      17       5  200  4  2
 6  Mazino LEV    20      14      11  134  3  1
 7   kiNgg LEV    17      12      13  130  2  1
 8     C0M LEV    11      17      10  121  2  2
 9     tex LEV    15      20       8  112  4  2,
             name kills  deaths assists  adr fk fd
 0   pANcada LOUD    28      13       5  208  2  3
 1  cauanzin LOUD    20      18       6  155  5  1
 2   saadhak LOUD    15      16       5  137  3  7
 3      tuyz LOUD    13      15      11   99  0  1
 4      Less LOUD    13      17       2  116  1  1
 5     mwzera FUR    25      19       7  184  5  2
 6     Khalil FUR    18      16       7  141  2  2
 7      havoc FUR    15      18       3  134  2  2
 8        nzr FUR    12      16       4  105  0  0
 9       xand FUR     9      20       9   82  4  5,
             name kills  deaths assists  adr fk fd
 0  cauanzin LOUD    24      16       3  160  1  2
 1   pANcada LOUD    20      17       4  163  4  1
 2      Less LOUD    18      19       6  175  4  2
 3      tuyz LOUD    11      17       5  105  1  3
 4   saadhak LOUD     9      19      12   96  1  4
 5      havoc FUR    22      15       5  198  4  4
 6        nzr FUR    22      16       8  181  1  0
 7     Khalil FUR    12      14       8  100  1  0
 8       xand FUR    15      16       7  100  2  4
 9     mwzera FUR    17      21       3  137  4  3,
             name kills  deaths assists  adr fk fd
 0   saadhak LOUD    12      18       8  152  3  3
 1      Less LOUD    13      15       3  102  2  2
 2      tuyz LOUD    18      17       9  137  2  2
 3   pANcada LOUD    10      16      10   87  0  1
 4  cauanzin LOUD    10      18       1   95  4  3
 5     mwzera FUR    29      12       6  251  4  2
 6     Khalil FUR    20      10      12  153  2  3
 7      havoc FUR    17      14       6  146  5  2
 8        nzr FUR     8      13      15  100  0  3
 9       xand FUR    10      14       9   66  0  1,
              name kills  deaths assists  adr fk fd
 0       rich MIBR    17      13       2  178  3  0
 1      Palla MIBR    14      16       1  141  4  3
 2      mazin MIBR     7      14       6   95  1  3
 3     liazzi MIBR     6      16       5   70  1  0
 4     artzin MIBR     5      17       2   69  1  2
 5    Boostio 100T    20       9       2  209  2  3
 6       eeiu 100T    17       9       3  183  1  0
 7      Asuna 100T    12       8       9  124  1  2
 8       bang 100T    12      11       2  116  3  1
 9  Cryocells 100T    15      12       1  126  1  4,
              name kills  deaths assists  adr fk fd
 0      Palla MIBR    15      16       5  155  4  4
 1     artzin MIBR    12      16       8  111  1  0
 2     liazzi MIBR    13      16       4  129  3  4
 3      mazin MIBR     7      14       6   79  0  2
 4       rich MIBR     7      16       3   65  1  0
 5       eeiu 100T    26       5       6  201  2  0
 6       bang 100T    15      13      10  154  4  4
 7    Boostio 100T    13      12      16  133  1  0
 8      Asuna 100T    12      12       6  117  3  4
 9  Cryocells 100T    12      13       8  123  0  1,
            name kills  deaths assists  adr fk fd
 0     Ethan NRG    25      16       4  193  6  1
 1       s0m NRG    18      17       8  146  2  1
 2    Victor NRG    18      16       4  140  3  6
 3  crashies NRG    12      14       8  103  0  2
 4   FiNESSE NRG     7      14       3   73  0  0
 5    Melser KRÜ    20      17      11  187  2  1
 6      Shyy KRÜ    16      14       9  116  1  2
 7      heat KRÜ    16      17       6  141  3  2
 8    keznit KRÜ    17      17       8  174  3  4
 9       mta KRÜ     8      15       4   67  1  2,
            name kills  deaths assists  adr fk fd
 0       s0m NRG    22      11      10  183  1  0
 1   FiNESSE NRG    18      12       6  162  2  1
 2  crashies NRG    14      12       3  139  1  0
 3    Victor NRG    16      15       2  137  5  5
 4     Ethan NRG    14      17      10  131  5  1
 5      Shyy KRÜ    15      15       5  136  0  0
 6    Melser KRÜ    16      16       4  127  3  3
 7      heat KRÜ    15      18       6  143  0  4
 8       mta KRÜ    11      17       5  108  1  0
 9    keznit KRÜ    10      18       2   85  3  7,
            name kills  deaths assists  adr fk fd
 0  crashies NRG    19      11       9  181  3  0
 1       s0m NRG    14      12       9  125  3  0
 2    Victor NRG    18      15       1  169  7  3
 3     Ethan NRG    11      12      11  100  0  1
 4   FiNESSE NRG    12      13       5  102  2  1
 5    keznit KRÜ    20      14       5  187  3  3
 6      heat KRÜ    15      15      11  128  1  5
 7      Shyy KRÜ    13      14       2  137  0  1
 8    Melser KRÜ     9      15       0   86  1  3
 9       mta KRÜ     6      17       4   59  0  3,
          name kills  deaths assists  adr fk fd
 0    valyn G2    11      15       6  112  1  2
 1   JonahP G2     8      14       2   90  3  2
 2      icy G2    10      16       2  122  3  4
 3     leaf G2     9      16       4  124  0  1
 4    trent G2     7      15       3   76  0  1
 5  keznit KRÜ    24       9       2  249  4  0
 6  Melser KRÜ    17       8       6  173  2  5
 7    heat KRÜ    13       9       9  118  1  1
 8     mta KRÜ    10       9       7  108  3  0
 9    Shyy KRÜ    12      10       1  119  0  1,
          name kills  deaths assists  adr fk fd
 0   JonahP G2    27      20      20  132  3  2
 1    trent G2    22      21      15  157  1  5